/*----------------------------
GLOBAL
----------------------------*/
@import "./partials/functions";
@import "./partials/mixins";
@import "./partials/fonts";
@import "./partials/variables";
@import "./partials/globals";
@import "./partials/flatpickr";
@import "./partials/icons";
/*----------------------------
CUSTOM
----------------------------*/

html {
  font-family: 'Roboto', sans-serif;
  font-size: $font_base+px;
  line-height: 1.2;
}
body {
  background: $color-19;
  overflow: hidden;
}
.container {
  position: relative;
  display: flex;
  min-width: $tablet-breakpoint;
  height: 100vh;

  &--edit {
    .topBar {
      left: $widgetsBar-width;
    }
    .workspace {
      left: 0;
      right: $rightBarPlaceholder-width;
    }
    .rightBar {
      width: $rightBarPlaceholder-width;
      z-index: $z-low;
    }
    .workspace__widget {
      //&:before {
      //  border-color: $color-blue;
      //}
    }
  }
  &__rightPart {
    position: relative;
    flex: 1;
  }
  &__default {
  }
}
.leftBar {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $leftBar-width;
  background-color: rgba($color-28, 1);
  box-shadow: 0 0 font-rem(10) font-rem(5) rgba(black, .2);
  z-index: $z-med;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/islamic-pattern.png");
    z-index: -1;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    @include gradient-horizontal(rgba($color-28, 0), rgba($color-28, 1));
  }
  &__logo {
    position: absolute;
    left: 0;
    right: 0;
    top: font-rem(10);
    text-align: center;
  }
  &__iconsContent {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
  }
  &__iconContent {
    cursor: pointer;
    flex-basis: 100%;
    color: $color-64;
    margin: font-rem(15) 0;

    svg {
      fill: $color-64;
    }
    &--screener {
      svg {
        width: font-rem(22);
        height: font-rem(20);
      }
    }
    &--analytics {
      svg {
        width: font-rem(22);
        height: font-rem(17);
      }
    }
    &--portfolio {
      svg {
        width: font-rem(22);
        height: font-rem(22);
      }
    }
    &--financial {
      svg {
        width: font-rem(22);
        height: font-rem(18);
      }
    }
  }
  &__iconstext {
    font-weight: $font-family-light;
  }
  &__chat {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: font-rem(78);
    background: $color-20;
    font-weight: $font-family-light;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: $color-64;
    cursor: pointer;

    svg {
      fill: $color-64;
      width: font-rem(19);
      height: font-rem(18);
      margin-bottom: font-rem(7);
    }
  }
  .router-link-active {
    color: white;
    border-right: font-rem(2) solid $color-blue;

    svg {
      fill: white;
    }
  }
}
.rightBar {
  position: absolute;
  right: 0;
  top: calc(#{$topBar-height} + 5px);
  bottom: 0;
  background: $color-20;
  z-index: 1001;
  display: flex;
  width: $rightBar-width;
  flex-direction: column;

  @include tablet {
    width: font-rem(66) !important;

    &--open {
      width: $rightBar-width !important;
      box-shadow: 0 0 5px rgba(black, .5);

      .rightBar__tablet {
        display: none;
      }
      .rightBar__tabletTitle {
        color: $color-e6;
      }
      .rightBar__content {
        display: block;

        .widget--orders {
          display: none;
        }
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;

    @include tablet {
      display: none;
    }
  }
  &__placeholder {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: font-rem(11);
    color: $color-78;
  }
  &__tablet {
    position: relative;
    flex: 1;
    display: none;
    flex-direction: column;
    cursor: pointer;

    @include tablet {
      display: flex;
    }
  }
  &__tabletTitle {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    color: $color-64;
    background-color: $color-28;
    width: 100%;
    height: font-rem(30);
    font-size: font-rem(11);
  }
  &__tabletBoxesContent {
    display: flex;
    flex-direction: column;
  }
  &__tabletBoxesWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__tabletBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: font-rem(60);
    margin-top: font-rem(2);

    &--positive {
      background: linear-gradient(to right, rgba($color-green, .1), rgba($color-64, .1) 50%);

      .arrowIcon {
        fill: $color-green;
      }
      .rightBar__tabletBoxNumber {
        color: $color-green;
      }
    }
    &--negative {
      background: linear-gradient(to right, rgba($color-red, .1), rgba($color-64, .1) 50%);
      .arrowIcon {
        fill: $color-red;
        transform: rotate(180deg);
      }
      .rightBar__tabletBoxNumber {
        color: $color-red;
      }
    }
  }
  &__tabletBoxName {
    color: $color-e6;
    margin: font-rem(6) 0;
  }
  &__button {
    width: 100%;
    height: font-rem(60);
    background-color: $color-blue;
    display: none;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: $color-e6;
    box-shadow: 0 -2px 5px rgba(black, .3);
    z-index: $z-high;
    cursor: pointer;

    @include tablet {
      display: flex;
    }
  }
  .closeArrowIcon {
    fill: $color-64;
    margin-right: font-rem(10);
    cursor: pointer;
    display: none;

    @include tablet {
      display: block;
    }
  }
  .arrowIcon {
    width: font-rem(8);
    height: font-rem(5);
  }
  .settingsIcon {
    cursor: pointer;
    transition: all .3s;

    &:hover {
      fill: $color-e6;
    }
  }
}
.topBar {
  position: absolute;
  left: $leftBar-width;
  right: 0;
  top: 0;
  height: $topBar-height;
  //z-index: $widgetZindex+10;

  header {
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    display: flex;
    background: $color-28;
    z-index: $z-med;
    color: $color-64;
  }
  * {
    font-weight: $font-family-light;
  }
  &__dataContent {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-2d;
    padding: 0 font-rem(15);

    &:not(:last-of-type) {
      border-right: font-rem(1) solid $color-20;
    }
    &--market {
      background: $color-28;
      flex-basis: font-rem(80);
      flex-direction: column;
    }
    &--currency {
      margin-left: auto;
      border-left: font-rem(1) solid $color-20;
    }
    &--help {
      background: $color-28;
    }
    &--notification {
      padding-left: font-rem(15+12);
    }
  }
  &__dataItem {
    position: relative;

    &:not(:first-of-type) {
      margin-left: font-rem(20);
    }
  }
  &__dataTitle {
    margin-bottom: font-rem(5);
  }
  &__dataValue {
    display: inline-block;
    color: $color-ff;
  }
  &__dataPercentage {
    display: inline-block;
    margin-left: font-rem(5);
  }
  &__downIcon {
    fill: $color-64;
    width: font-rem(8);
    height: font-rem(6);
    margin-left: font-rem(15);
    cursor: pointer;
  }
  &__currency {
    border-radius: font-rem(15);
    padding: font-rem(10);
    background: $color-28;
    font-size: $font-size-11;
    font-weight: $font-family-light;
    color: $color-64;
    cursor: pointer;

    &:first-of-type {
      margin-right: font-rem(7);
    }
    &--isActive {
      background: $color-20;
      color: $color-e6;
      pointer-events: none;
    }
  }
  &__notificationNumber {
    position: absolute;
    top: font-rem(5);
    left: font-rem(-12);
    font-size: $font-size-9;
    background: $color-red;
    color: $color-ff;
    border-radius: 50%;
    padding: font-rem(4);
    border: font-rem(2) solid $color-2d;
  }
  &__notificationIcon {
    fill: $color-64;
    width: font-rem(22);
    height: font-rem(25);
  }
  &__username {
    color: $color-e6;
  }
  &__id {
    color: $color-64;
  }
  &__helpIcon {
    fill: $color-64;
    width: font-rem(18);
    height: font-rem(21);
    cursor: pointer;
  }
}
.bottomBar {
  margin-right: font-rem(5);
  margin-left: font-rem(5);
  color: $color-ff;
  background: $color-20;
  height: font-rem(30);
  font-size: $font-size-11;
  font-weight: $font-family-light;

  @include tablet {
    right: font-rem(66);
  }
  &__tabsContent {
    display: flex;
  }
  &__tabName {
    margin-right: font-rem(10);

    &--editable {
      border: 1px solid $color-green;
      padding: font-rem(2);
    }
  }
  &__tab {
    position: relative;
    min-width: font-rem(150);
    height: font-rem(30);
    display: flex;
    align-items: center;
    color: $color-64;
    letter-spacing: .05rem;
    padding: 0 font-rem(12);
    cursor: pointer;
    justify-content: center;

    *:not('.customDropdown') {
      position: relative;
      z-index: $z-low;
    }
    &--newTab {
      color: $color-ff;
    }
    &--edit {
      color: $color-ff;
      margin-left: auto;
      width: auto;
      padding-left: 0;
      cursor: auto;
      z-index: $z-max;
      justify-content: flex-end;
    }
    &--active {
      color: $color-ff;
      z-index: 10;
      background: $color-blue;
      box-shadow: 0 font-rem(3) 8px rgba($color-green, .3);

      .bottomBar__downIcon {
        display: block;
      }
    }
    &--inActive {
      background: $color-28;
    }
  }
  &__downIcon {
    width: font-rem(8);
    height: font-rem(6);
    fill: $color-ff;
    margin-left: auto;
    display: none;
  }
  &__dropdown {
    background: $color-28;
    width: font-rem(100);
    position: absolute;
    left: 0;
    bottom: font-rem(30);

    li {
      cursor: pointer;
      padding: font-rem(10);

      &:hover {
        background: $color-2d;
      }
    }
  }
  &__editIcon {
    fill: $color-ff;
    margin-left: font-rem(5);
    width: font-rem(8);
    height: font-rem(9);
  }
  &__button {
    cursor: pointer;

    &:not(:last-of-type) {
      margin-right: font-rem(20);
    }
  }
}
.condition {
  &__open {
    color: $color-green;

    svg {
      width: font-rem(9);
      height: font-rem(9);
      fill: $color-green;
    }
  }
  &__close {
    color: $color-red;

    svg {
      width: font-rem(9);
      height: font-rem(9);
      fill: $color-red;
    }
  }
}
.login {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  background: url("../images/islamic-pattern.png") $color-28;
  color: white;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $color-28;
    height: 100vh;
    width: font-rem(330);
    box-shadow: 0 0 font-rem(10) rgba($color-28, 0.2);
  }
  &__form {
    position: relative;
    width: 100%;
    height: font-rem(400);
    background: $color-20;
    border: font-rem(1) solid $color-blue;
    box-shadow: 0 0 font-rem(3) $color-blue;
    margin-top: font-rem(40);
    padding: font-rem(35);

    & label {
      color: $color-64;
    }
  }
  &__close {
    width: font-rem(10);
    height: font-rem(10);
    fill: $color-ff;
    cursor: pointer;
    position: absolute;
    top: font-rem(10);
    right: font-rem(10);
  }
  &__title {
    margin-bottom: font-rem(35);
    &--token {
      margin-bottom: 15px;
    }
  }
  &__token-p {
    margin-bottom: 15px;
  }
  &__inputContent {
    position: relative;

    &:nth-of-type(1) {
      margin-bottom: font-rem(12);
    }
  }
  &__label {
    margin-bottom: font-rem(4);

    label {
      font-weight: $font-family-light;
    }
  }
  &__input {
    background: $color-19;
    border: font-rem(1) solid $color-28;
    padding: font-rem(15) font-rem(12);
    width: 100%;
    height: font-rem(35);
    font-weight: $font-family-light;
    color: white;
    outline: none;
    border-radius: font-rem(3);
  }
  &__condition {
    position: absolute;
    bottom: font-rem(8);
    right: font-rem(12);

    svg {
      width: font-rem(10);
      height: font-rem(10);
    }
  }
  &__conditionTrue {
    fill: $color-green;
  }
  &__conditionFalse {
    fill: $color-red;
  }
  &__forget {
    text-align: center;
    color: $color-blue;
    font-weight: $font-family-medium;
    margin-top: font-rem(10);
  }
  &__captcha {
    margin: font-rem(17) 0;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    height: font-rem(40);
    color: $color-ff;
    border: none;
    border-radius: font-rem(3);
    cursor: pointer;

    &--login {
      width: font-rem(147);
      background: $color-blue;
      font-size: $font-size-16;
      font-weight: $font-family-medium;
    }
    &--token {
      width: font-rem(99);
      font-size: font-rem(12);
      font-weight: $font-family-light;
      background: $color-2d;
    }
  }
  &__question-wrapper, &__token-wrapper {
    height: 100%;
    position: relative;
  }
  &__back-arrow {
    width: font-rem(10);
    height: font-rem(10);
    fill: $color-ff;
    cursor: pointer;
    position: absolute;
    top: font-rem(-15);
    left: font-rem(-15);
    transform: rotate(90deg);
    &--token {
      top: font-rem(-20);
      left: font-rem(-20);
    }

  }
  &--submit-btn {
    width: 100%;
    margin-top: font-rem(15);
    background: $color-blue;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
.isLoading {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: $z-high;

  &:before {
    content: '';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $z-high;
    background: rgba($color-20, .5);
  }
  &:after {
    content: '';
    position: absolute;
    top: calc(50% - #{font-rem( 14)});
    left: calc(50% - #{font-rem( 14)});
    width: font-rem(14);
    height: font-rem(14);
    border: font-rem(3) solid $color-ff;
    border-bottom-color: transparent;
    border-radius: 100%;
    animation: animateCircle 1s infinite linear;
    z-index: $z-high;
  }
  @keyframes animateCircle {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
.widgetsBar {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: $widgetsBar-width;
  background-color: rgba($color-28, 1);
  box-shadow: 0 0 font-rem(10) font-rem(5) rgba(black, .2);
  z-index: $z-high;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/islamic-pattern.png");
    z-index: -1;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include gradient-horizontal(rgba($color-28, 0), rgba($color-28, 1));
    z-index: -2;
  }
  &__logo {
    margin-top: font-rem(10);
    text-align: center;
  }
  &__menu {
    width: 100%;
    color: $color-64;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__link {
    position: relative;
    padding: font-rem(20) 0 font-rem(20) font-rem(15);
    user-select: none;
    transition: all .2s;
    overflow: hidden;
    transition: all .3s;

    &:not(:last-of-type) {
      border-bottom: font-rem(1) solid $color-19;
    }
    &:hover {
      color: $color-ff;
      background-color: rgba($color-19, .4) !important;

      .widgetsBar__drag {
        visibility: visible;
        pointer-events: inherit;
      }
    }
    &--dragging {
      overflow: inherit;

      .widgetsBar__drag {
        opacity: .5;
        visibility: visible;
        pointer-events: inherit;
      }
    }
  }
  &__drag {
    position: absolute;
    background: $color-64;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .3s, visibilty .3s;
  }
}
.workspace {
  position: absolute;
  top: 0;
  bottom: 0;
  left: $leftBar-width;
  right: $rightBar-width;
  display: flex;
  align-items: stretch;

  @include tablet {
    right: font-rem(66) !important;
  }
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: $topBar-height;
  }
  &__topContent {
    flex: 1;
    display: flex;
  }
  &__playgroundContent {
    position: relative;
    flex: 1;
    z-index: $z-med;
    margin-right: font-rem(5);
    margin-bottom: font-rem(5);
  }
  &__gridlines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-20;
    padding-left: font-rem(5);
    overflow: hidden;
    //pointer-events: none;
    //z-index: -1;
    //z-index: 5000;
  }
  &__row {
    position: absolute;
    width: 100%;
    height: calc(#{(100/15)}% - #{font-rem(5)});
  }
  &__column {
    position: absolute;
    background: $color-19;
    width: calc(#{(100/24)}% - #{font-rem(5)});
    height: 100%;

    &--horizontal {
      width: 100%;
      height: 5px;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 2px solid transparent;
      pointer-events: none;
      transition: all .3s;
    }
    &--highlight {
      &:before {
        border-color: $color-blue;
      }
    }
  }
  &__panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__widgetHolder {
    position: absolute;
    top: 0;
    left: 0;

    &:hover {
      z-index: $widgetZindex;
    }
    &--highlight {
      .widget {
        &:before {
          border-color: $color-red;
        }
      }
    }
  }
  &__topBar {
    position: relative;
    display: flex;
    padding: font-rem(7) font-rem(10);
    margin-top: font-rem(2);
    background-color: $color-28;
    color: $color-64;
  }
  &__topBarDate {
    display: flex;
    align-items: center;
    margin-left: font-rem(7);
  }
  &__topBarSep {
    font-size: $font-size-11;
    margin: 0 font-rem(5);
  }
  &__widgetTitle {
    position: relative;
    text-transform: uppercase;
    background: $color-2d;
    color: $color-78;
    height: font-rem(30);
    display: flex;
    align-items: center;
    padding-left: font-rem(10);
  }
  &__widgetDataContent {
    display: flex;
    height: 100%;
  }
  &__widgetData {
    flex: 1;
    background: $color-20;
    overflow: hidden;
  }
  &__dataItem {
    position: relative;
    padding: font-rem(10);
    color: $color-64;
    border-bottom: font-rem(1) solid $color-28;

    &:before {
      content: '';
      position: absolute;
      width: font-rem(1);
      top: font-rem(10);
      bottom: font-rem(10);
      left: font-rem(1);
    }
    &--positive {
      &:before {
        background-color: $color-green;
      }
    }
    &--negative {
      &:before {
        background-color: $color-red;
      }
    }
    .darkBtn {
      margin-left: auto !important;
    }
  }
  &__dataItemContent {
    display: flex;
    align-items: center;
  }
  &__dataItemInfo {
    padding-top: font-rem(5);
    color: $color-e6;
    line-height: 1.4;
  }
  &__dataItemDate {
    margin-right: font-rem(5);
  }
  &__viewType {
    display: flex;
  }
  &__widgetPlaceholder {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    pointer-events: none;

    &--text {
      background-image: url("../images/placeholder-text.png");
      background-size: 35px;
      margin: 10px;
    }
  }
  &__searchContent {
    position: relative;
    display: flex;
    padding-left: font-rem(10);
    align-items: center;

    & > svg {
      width: font-rem(10);
      height: font-rem(9);
      fill: $color-e6;
      margin-right: font-rem(5);
    }
  }
  &__searchInput {
    background: transparent;
    border: none;
    font-size: $font-size-11;
    font-weight: $font-family-light;
    color: $color-e6;
    width: font-rem(60);

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $color-e6;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $color-e6;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $color-e6;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $color-e6;
    }
  }
  &__selectContent {
    position: relative;
    display: flex;
    padding-left: font-rem(10);
    align-items: center;
    //color: $color-e6;
    cursor: pointer;

    svg {
      width: font-rem(6);
      height: font-rem(4);
      fill: $color-64;
      margin-right: font-rem(5);
      margin-left: font-rem(10);
    }
  }
  &__right {
    display: flex;
    margin-left: auto;
  }
  &__settingsIcon {
    display: flex;
    padding: font-rem(10);

    & > svg {
      fill: $color-e6;
      width: font-rem(12);
      height: font-rem(12);
      cursor: pointer;
    }
  }
  &__dropdownArrow {
    display: flex;

    svg {
      fill: $color-64;
      width: font-rem(8);
      height: font-rem(5);
      transform: rotate(90deg);
    }
  }
  &__newsTab {
    display: flex;
    height: 100%;
    align-items: center;
    border-bottom: font-rem(2) solid transparent;
    cursor: pointer;

    &:first-of-type {
      margin-right: font-rem(12);
    }
    &--isActive {
      border-bottom: font-rem(2) solid $color-blue;
    }
  }
}
.customTable {
  position: relative;
  overflow: hidden;
  min-width: 100%;

  &:after {
    content: '';
    position: absolute;
    height: font-rem(50);
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    @include gradient-vertical(rgba($color-20, 0), rgba($color-20, 1))
  }
  &__table {
    min-width: 100%;
    text-align: center;
    font-size: font-rem(11);

    &--fixed {
      position: absolute;
      z-index: $z-low;
    }
  }
  &__head {
    background-color: $color-28;
    height: font-rem(25);
    color: $color-64;
  }
  &__body {
    tr {
      user-select: none;

      &:hover {
        background-color: $color-blue;
      }
      td {
        padding: font-rem(5) font-rem(10);
      }
    }
  }
  tr {
    transition: all .1s;
  }
  &--rowChanged {
    background-color: $color-2d;
  }
  &__iconContent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    max-width: font-rem(10);
    max-height: font-rem(10);
    fill: $color-78;
    margin-right: font-rem(5);
  }
  &__horizontal {
    width: 100%;
  }
  &__fixed {
    position: absolute;
    width: 100%;
    height: font-rem(25);
    overflow: hidden;
    z-index: 1;

    table {
      width: 100%;
      table-layout: fixed;
    }
  }
  &__data {
    width: 100%;
    height: calc(100% - #{font-rem(25)});
    margin-top: font-rem(25);

    table {
      margin-top: font-rem(-25);
      width: 100%;
      table-layout: fixed;
    }
    .mCSB_inside > .mCSB_container {
      margin-right: 0;
    }
  }
}
.customDropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $color-28;
  font-size: $font-size-11;
  color: $color-64;
  text-decoration: none;
  z-index: $z-med;
  user-select: none;

  &--search {
    height: 100%;
    min-height: font-rem(122);
    width: font-rem(146);
    display: flex;
    flex-direction: column;
    min-height: font-rem(122);

    .customDropdown__level1 {
      display: flex;
      flex-direction: column;
    }
    .customDropdown__link {
      align-items: flex-start;
    }
  }
  &--workspaceTabs {
    top: calc(-100% - #{font-rem(37)});
    right: 0;
  }
  &--list {
    right: 0;
  }
  &--select {
    min-width: font-rem(150);
  }
  &--settings {
    right: font-rem(2);
    left: auto;
  }
  &__searchResult {
    flex: 1;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: font-rem(10) font-rem(15);
    transition: all .3s;
    user-select: none;
    cursor: pointer;

    &:not(:last-of-type) {
      border-bottom: 1px solid $color-20;
    }
    &:hover {
      color: $color-ff;
      background-color: $color-2d;
    }
    &--disabled {
      color: inherit !important;
      background-color: inherit !important;
      pointer-events: none;
    }
  }
  &__arrow {
    width: font-rem(5);
    height: font-rem(8);
    fill: $color-64;
    transform: rotate(-90deg);
    margin-left: auto;
  }
  &__level1 {
    position: relative;
    box-shadow: 0 3px 10px rgba(black, .2);
    z-index: 1;
    height: 100%;
  }
  &__level2 {
    position: absolute;
    left: 100%;
    top: 0;
    width: 120%;
    color: $color-64;
    background-color: $color-28;
  }
}
.calendarInput {
  width: 60px;
  padding: 0 !important;
  background-color: transparent !important;
}
.description-sep {
  border-right: 1px solid $color-28;
  padding-right: font-rem(12);
  margin-right: font-rem(12);
}
.dropdown--cash-balance {
  width: font-rem(475);
  .row {
    display: flex;
    border-bottom: 1px solid $color-20;
  }
  .column {
    padding: 15px;
    flex-grow: 1;
    border-right: 1px solid $color-20;
    text-align: center;
    h5 {
      color: $color-64;
      margin-bottom: 15px;
      font-size: font-rem(11);
    }
  }
  .column--sm {
    h6 {
      font-size: font-rem(14);
      color: $color-e6;
      &.positive {
        color: $color-green;
      }
      &.negative {
        color: $color-red;
      }
    }
  }
  .column--big {
    flex-grow: 2;
    text-align: left;
    h5 {
      color: $color-e6;
      font-size: font-rem(14);
    }
  }
  h6 {
    margin-bottom: 10px;
  }
  .view-all {
    background: $color-blue;
    color: #ffffff;
    height: 40px;
    font-size: font-rem(11);
    display: block;
    text-align: center;
    line-height: 40px;
  }
}
.dropdown--index-change {
  width: font-rem(490);
  .title {
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
    color: #787878;
    font-size: font-rem(11);
    border-bottom: 1px solid $color-20;
  }
  .columns {
    display: flex;
    border-bottom: 1px solid $color-20;
    .column {
      flex-grow: 1;
      overflow: hidden;
      padding: 20px;
      border-right: 1px solid $color-20;
      h5 {
        color: $color-64;
        font-size: font-rem(11);
      }
      &.positive {
        h3 {
          color: $color-green;
        }
      }
      &.negative {
        h3 {
          color: $color-red;
        }
      }
    }
  }
  .data {
    padding: 20px;
    .data-title {
      color: $color-78;
      margin-bottom: 20px;
      font-size: font-rem(14);
    }
    .row {
      display: flex;
      margin-bottom: 15px;
    }
    .column {
      flex: 1 0 33.33%;
      flex-wrap: wrap;
      h4 {
        color: $color-e6;
        margin-top: 5px;
        font-size: font-rem(14);
      }
    }
  }
}
.mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: $color-2d !important;
  min-width: font-rem(5);
  min-height: font-rem(5);
}
.widget {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #202020;
  transition: all .3s;
  color: $color-64;
  height: 100%;
  flex: 1;
  transition: all .3s;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid transparent;
    pointer-events: none;
    transition: all .3s;
    z-index: $z-med;
  }
  &:hover, &--isActive, &--isResizing {
    box-shadow: 0px 0 20px 0px rgba(26, 106, 123, 0.5);
    transition: all .3s;

    &:before {
      border-color: $color-blue;
    }
    .widget__resizeTools {
      opacity: 1;
      visibility: visible;
    }
    .widget__title {
      color: $color-e6;
      transition: all .3s;
    }
  }
  &--isResizing {
    background: transparent;

    .widget__data {
      opacity: 0;
    }
    .widget__title {
      opacity: 0;
    }
  }
  .container--edit & {
    height: 100%;
    border: 1px solid $color-blue;
  }
  &--chart {
    .workspace__widgetDataContent {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
  &--quickTrades {
    .workspace__widgetDataContent {
      flex-direction: column;
    }
  }
  &--description {
    .widget__title {
      padding-right: font-rem(10);
    }
    .workspace__widgetDataContent {
      flex-direction: column;
    }
    .workspace__topBar {
      justify-content: space-between;
    }
    .workspace__topbarData {
      display: flex;

      h5 {
        margin-right: font-rem(5);
      }
    }
    .darkBtn {
      margin-left: font-rem(5);
    }
    .workspace__dataItem {
      border: none;
    }
    .workspace__dataItemQuick {
      display: flex;
      margin: font-rem(10) 0;
      padding: font-rem(8) font-rem(14);
      background-color: #232323;
      border: 1px solid $color-28;
    }
    .workspace__quickData {
      flex: 1;
      justify-content: center;
      h5 {
        margin-right: font-rem(5);
      }

      &:not(:last-of-type) {
        border-right: 1px solid $color-28;
      }
    }
    .closeIcon {
      position: absolute;
      right: font-rem(10);
      margin-top: font-rem(10);
      cursor: pointer;
      z-index: $z-med;
    }
  }
  &--portfolio {
    height: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical, .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
      left: 0;
      right: auto;
    }
    .customTable {
      position: relative;
      overflow: hidden;
      min-width: 100%;
      height: 100%;

      .mCSB_horizontal.mCSB_outside > .mCSB_container {
        height: 100%;
      }
      .customTable__data {
        min-width: 400px;

        .mCSB_inside > .mCSB_container {
          right: font-rem(-20);
        }
        .mCSB_scrollTools_vertical {
          right: auto;
          left: 0;
        }
      }
    }
  }
  &--orders {
    display: flex;
    flex-direction: column;

    .widget__title {
      padding-right: font-rem(10);
    }
    .widget__saveBtn {
      margin-left: auto;
      margin-right: font-rem(5);
    }
    .widget__searchContent {
      position: relative;
      margin: font-rem(2) font-rem(2) font-rem(12);

      input {
        width: 100%;
        height: font-rem(30);
        padding-left: font-rem(25);
      }
      .searchIcon {
        position: absolute;
        left: font-rem(10);
        top: font-rem(10);
      }
    }
  }
  &__title {
    position: relative;
    text-transform: uppercase;
    background: $color-2d;
    color: $color-78;
    height: font-rem(30);
    display: flex;
    align-items: center;
    padding-left: font-rem(10);
    transition: all .3s;
  }
  &__data {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: $color-20;
    overflow: hidden;
    transition: all .3s;
  }
  &__dataTable {
    flex: 1;
    overflow: hidden;
  }
  &__tabsContent {
    position: relative;
    display: flex;
    padding: 0 font-rem(15);
    border-bottom: font-rem(1) solid $color-28;
  }
  &__tab {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: font-rem(15) 0;
    cursor: pointer;
    border-bottom: 3px solid transparent;

    &--isActive {
      border-bottom-color: $color-blue;
      color: $color-ff;

      .workspace__selectContent {
        color: $color-ff !important;
      }
    }
    .workspace__selectContent {
      color: $color-64;
      margin-left: auto;
    }
  }
  &__tabBody {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  &__dataContent {
    display: flex;
    flex-wrap: wrap;
    padding: font-rem(15);
  }
  &__dataItem {
    flex-basis: 50%;
    display: flex;

    &:not(:last-of-type) {
      padding-bottom: font-rem(10);
    }
  }
  &__dataItemTitle {
    margin-right: font-rem(5);
  }
  &__highlightedPrices {
    display: flex;
  }
  &__prices {
    flex: 1;
    display: flex;
    height: font-rem(40);
    padding: font-rem(8);
    justify-content: space-between;

    &:not(:last-of-type) {
      margin-right: font-rem(2);
    }
    .arrowIcon {
      width: font-rem(8);
      height: font-rem(5);
    }
    &--positive {
      @include gradient-vertical(rgba($color-2d, .6), rgba($color-blue, .2), 30%);

      .arrowIcon {
        fill: $color-green;
        transform: rotate(180deg);
      }
    }
    &--negative {
      @include gradient-vertical(rgba($color-2d, .6), rgba($color-red, .1), 30%);

      .arrowIcon {
        fill: $color-red;
      }
    }
  }
  &__pricesNumber {
    display: flex;
    align-items: baseline;
    align-self: flex-end;

    .arrowIcon {
      margin-left: font-rem(7);
    }
  }
  &__filters {
    display: flex;
    flex-wrap: wrap;
    padding-left: font-rem(8);
  }
  &__filter {
    display: flex;
    flex-direction: column;
    margin: 0 font-rem(6) font-rem(13) 0;
  }
  &__filterContent {
    height: font-rem(25);
    flex: 1;
    display: flex;
    margin-top: font-rem(4);

    input {
      padding-left: font-rem(8);
    }
    &--shares {
      display: flex;
      width: font-rem(73);

      input {
        width: font-rem(43);
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
      h6 {
        flex: 1;
        background-color: $color-2d;
        display: flex;
        justify-content: center;
        align-items: center;
        width: font-rem(30);
      }
    }
    &--type {
      select {
        width: font-rem(61);
      }
    }
    &--price {
      input {
        width: font-rem(57);
      }
    }
    &--custodian {
      input {
        width: font-rem(99);
      }
    }
    &--expiration {
      select {
        width: font-rem(71);
      }
    }
    &--date {
      input {
        width: font-rem(81);
      }
    }
    &--terms {
      select {
        width: font-rem(81);
      }
    }
    &--value {
      input {
        width: font-rem(56);
      }
    }
    &--portfolio {
      select {
        width: font-rem(78);
      }
    }
    &--allocation {
      align-items: center;

      label {
        margin-left: font-rem(7);
      }
    }
  }
  &__submitBtns {
    display: flex;
    margin: auto font-rem(10) font-rem(10);
  }
  &__submitBtn {
    flex: 1;
    display: flex;
    color: $color-e6;
    font-size: $font-size-16;
    justify-content: center;
    align-items: center;
    height: font-rem(40);
    border-radius: font-rem(5);

    &--buy {
      background-color: $color-green;
      margin-right: font-rem(8);
    }
    &--sell {
      background-color: $color-red;
    }
  }
  &__resizeTools {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $z-med;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
  }
  &__resizeIcon {
    $iconWidth: 24;
    background: $color-blue;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: font-rem($iconWidth);
    height: font-rem($iconWidth);
    cursor: pointer;
    z-index: $z-max;

    svg {
      fill: $color-e6;
      width: font-rem(6);
      height: font-rem(12);
    }
    &--top {
      top: font-rem(-$iconWidth/2);
      left: calc(50% - #{font-rem($iconWidth)});
      cursor: row-resize;
    }
    &--bottom {
      bottom: font-rem(-$iconWidth/2);
      left: calc(50% - #{font-rem($iconWidth/2)});
      cursor: row-resize;
    }
    &--left {
      top: calc(50% - #{font-rem($iconWidth/2)});
      left: font-rem(-$iconWidth/2);
      transform: rotate(90deg);
      cursor: col-resize;
    }
    &--right {
      top: calc(50% - #{font-rem($iconWidth/2)});
      right: font-rem(-$iconWidth/2);
      transform: rotate(90deg);
      cursor: col-resize;
    }
  }
  &__remove {
    position: absolute;
    top: font-rem(10);
    right: font-rem(10);
    cursor: pointer;
  }
}