.flatpickr-calendar {
  background: rgba($color-20, 0.95);
  box-shadow: 0 0 8px rgba(black, .5);
}
.flatpickr-calendar.arrowTop:before {
  border-bottom-color: $color-20;
}
.flatpickr-calendar.arrowTop:after {
  border-bottom-color: rgba($color-20, 0.95);
}