* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  box-sizing: border-box;
  outline: none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
  color: inherit;
}
.hide_display {
  display: none !important;
}
.hide_opacity {
  opacity: 0 !important;
  visibility: hidden !important;
}
.show_display {
  display: block;
}
.show_opacity {
  opacity: 1;
  visibility: visible;
}
.inline_block {
  display: inline-block;
}
.textAlign--center {
  text-align: center;
}
.textAlign--right {
  text-align: right;
}
.textAlign--left {
  text-align: left;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
[data-img] {
  background-repeat: no-repeat;
  background-size: cover;
}
.full_width {
  width: 100%;
}
.half_width {
  width: 50%;
  float: left;
  overflow: hidden;
}
.font_family__light {
  font-family: $font-family-light;
}
.font_family__regular {
  font-family: $font-family-regular;
}
.font_family__medium {
  font-family: $font-family-medium;
}
.font_size--9 {
  font-size: $font-size-9;
}
.font_size--11 {
  font-size: $font-size-11;
}
.font_size--14 {
  font-size: $font-size-14;
}
.font_size--16 {
  font-size: $font-size-16;
}
h3 {
  font-size: $font-size-16;
}
h4 {
  font-size: $font-size-14;
}
h5 {
  font-size: $font-size-11;
}
h6 {
  font-size: $font-size-9;
}
.flex {
  display: flex;
}
.f-j-b {
  justify-content: space-between;
}
.f-a-c {
  align-items: center;
}
.f-g-1 {
  flex-grow: 1;
}
.f-d-c {
  flex-direction: column;
}
.ml-a {
  margin-left: auto;
}
.m-b-15 {
  margin-bottom: font-rem(15);
}
.f-s-0 {
  flex-shrink: 0;
}
.o-h {
  overflow: hidden;
}
.text-colorWhite {
  color: white;
}
.text-colorRed {
  color: $color-red;
}
.text-colorGreen {
  color: $color-green;
}
.text-colorBlue {
  color: $color-blue;
}
.text-colorLightGray {
  color: $color-e6 !important;
}
.text-colorDarkGray {
  color: $color-64 !important;
}
.bg-colorBlue {
  background-color: $color-blue;
}
.fill-red {
  fill: $color-red !important;
}
.fill-green {
  fill: $color-green !important;
}
.darkBtn {
  background-color: $color-19;
  color: $color-e6;
  padding: font-rem(5) font-rem(8);
  border-radius: font-rem(10);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: none;
}
.cursorPointer {
  cursor: pointer;
}
input[type="text"], input[type="date"] {
  //height: font-rem(30);
  //line-height: font-rem(30);
  background: #1c1c1c;
  color: #000;
  color: $color-e6;
  border: 1px solid $color-28;
  border-radius: 2px;
  font-size: font-rem(11);
  padding: 0 7px;
}
::-webkit-scrollbar-track {
  background-color: $color-20;
  z-index: 9999;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: $color-20;
  z-index: 9999;
}
::-webkit-scrollbar-thumb {
  border-radius: 2.5px;
  background-color: #555;
  z-index: 9999;
}
// BUTTONS------------------------------
.u-vertical-center {
  vertical-align: middle;
}
.arrow-span {
  vertical-align: middle;
  color: $color-e6;
  font-size: font-rem(11);
  svg {
    margin-left: 9px;
  }
}
button {
  border: none;
  border-radius: 3px;
}
.dark-btn {
  border-radius: 8.5px;
  background: $color-20;
  color: $color-e6;
  line-height: 1;
  cursor: pointer;
  &.sm {
    font-size: font-rem(9);
    height: font-rem(17);
    padding: 0 10px;
    border: none;
  }
}
.grey-btn {
  background: $color-2d;
  color: $color-64;
  font-size: font-rem(11);
  width: font-rem(30);
}
.green-btn {
  background: $color-green;
  color: #ffffff;
}
.red-btn {
  background: $color-red;
  color: #ffffff;
}
.lg-btn {
  height: font-rem(40);
  line-height: font-rem(40);
}
// INPUT------------------------------

.input-with-icon {
  position: relative;
  .icon {
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
  }
  input {
    width: 100%;
    padding-left: 25px;
  }
}
select {
  background: #1c1c1c;
  color: $color-e6;
  border: 1px solid;
  font-size: font-rem(11);
  border: 1px solid $color-28;
}
.ui-checkbox {
  display: none;
}
.ui-checkbox + label {
  position: relative;
  padding-left: 25px;
  display: inline-block;
  font-size: 12px;
  height: 25px;
  line-height: 25px;
}
.ui-checkbox + label:before {
  border: 1px solid #282828;
  background: #1c1c1c;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  display: block;
  position: absolute;
  top: 4px;
  left: 0;
  content: "";
}
.ui-checkbox:checked + label:before {
  background: $color-e6;
  color: $color-64;
}
.ui-checkbox.no-border:checked + label:before {
  border-color: transparent;
}
.ui-checkbox:checked + label:after {
  content: '\2714';
  font-size: 10px;
  position: absolute;
  top: 0px;
  left: 5px;
  color: $color-64;
}
.dropdown {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background: $color-28;
  color: $color-64;
  font-weight: $font-family-light;
  font-size: font-rem(11);
  z-index: $dropdwon-index;
  &__list {
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid $color-20;
    &:last-of-type {
      border: none;
    }
  }
  &.is-active {
    visibility: visible;
    opacity: 1;
  }
}
