.arrowIcon {
  width: font-rem(6);
  height: font-rem(4);
  fill: $color-64;
}
.searchIcon {
  width: font-rem(10);
  height: font-rem(10);
  fill: $color-e6;
}
.calendarIcon {
  width: font-rem(10);
  height: font-rem(11);
  fill: $color-64;

  &--alt {
    position: absolute;
    opacity: 0;
  }
}
.closeIcon {
  width: font-rem(10);
  height: font-rem(10);
  fill: $color-64;
}
.settingsIcon {
  width: font-rem(12);
  height: font-rem(12);
  fill: $color-64;
}
.closeArrowIcon{
  width: font-rem(14);
  height: font-rem(10);
}