/* VARIABLES */
$z-low: 1;
$z-med: 5;
$z-high: 10;
$z-max: 1000;

$font_base: 14;

$leftBar-width: font-rem(65);
$rightBar-width: font-rem(323);
$rightBarPlaceholder-width: font-rem(258);
$widgetsBar-width: font-rem(135);
$topBar-height: font-rem(50);
$botomBar-height: font-rem(30);
$widgetsTitle-height: font-rem(30);
$tablet-breakpoint: font-rem(1024);
$desktop-breakpoint: font-rem(1270);
$desktop-breakpoint-px: 1270px;
$dropdwon-index: 1002;
$widgetZindex: 20;

$color-19: #191919;
$color-20: #202020;
$color-28: #282828;
$color-2d: #2d2d2d;
$color-64: #646464;

$color-78: #787878;
$color-e6: #e6e6e6;
$color-ff: #ffffff;
$color-red: #f9374e;
$color-green: #1eaf7d;
$color-blue: #1b4f5a;

$font-family-light: 300;
$font-family-regular: 400;
$font-family-medium: 500;

$font-size-9: font-rem(9);
$font-size-11: font-rem(11);
$font-size-14: font-rem(14);
$font-size-16: font-rem(16);

$timing-animation: .3s;
