.widget {


  //&__title {
  //  height: font-rem(30);
  //  line-height: font-rem(30);
  //  padding-right: 10px;
  //  padding-left: 10px;
  //  background: $color-2d;
  //  h5 {
  //    color: $color-78;
  //    letter-spacing: 2px;
  //    display: inline-block;
  //    margin-right: 15px;
  //  }
  //  .right-content {
  //    float: right;
  //    line-height: font-rem(28);
  //  }
  //}
  //&__content {
  //  padding-right: 10px;
  //  padding-left: 10px;
  //}
  //&__tabs {
  //  .tabs-links {
  //    font-weight: $font-family-light;
  //    border-bottom: 1px solid $color-28;
  //    height: font-rem(40);
  //    line-height: font-rem(40);
  //    font-size: font-rem(11);
  //    li {
  //      display: inline-block;
  //      color: $color-64;
  //      &.is-active {
  //        color: $color-e6;
  //        border-bottom: 3px solid $color-blue;
  //      }
  //      .arrow-span {
  //        font-size: font-rem(9);
  //        margin-left: 15px;
  //      }
  //    }
  //    a {
  //      vertical-align: middle;
  //    }
  //  }
  //  .tabs-content {
  //    clear: both;
  //  }
  //}
  //&__numbers-list {
  //  font-size: font-rem(11);
  //  color: $color-64;
  //  overflow: hidden;
  //  li {
  //    margin-bottom: 5px;
  //  }
  //  .number {
  //    color: $color-e6;
  //    margin-left: font-rem(16);
  //    float: right;
  //  }
  //}
  //&__info-bar {
  //  height: font-rem(25);
  //  line-height: font-rem(25);
  //  background: $color-2d;
  //}
  //&__news-list {
  //  li {
  //    font-size: font-rem(12);
  //    color: $color-e6;
  //    padding: 5px 0;
  //    border-bottom: 1px solid #232323;
  //    .small {
  //      display: inline-block;
  //      margin-bottom: 4px;
  //      font-size: font-rem(9);
  //      color: $color-64;
  //    }
  //  }
  //}
  //.data-table {
  //  background: $color-20;
  //  font-size: font-rem(11);
  //  table-layout: fixed;
  //  text-align: left;
  //  white-space: nowrap;
  //  .lr-sticky-header {
  //    background: $color-28;
  //  }
  //  td,
  //  th {
  //    padding-right: 5px;
  //    padding-left: 5px;
  //  }
  //  thead {
  //    tr {
  //      background: $color-28;
  //      color: $color-64;
  //      height: 25px;
  //      padding-right: 5px;
  //      padding-left: 5px;
  //      th {
  //        border: none;
  //      }
  //    }
  //  }
  //  tbody {
  //    // height: 300px;
  //    // overflow: scroll;
  //    td {
  //      color: $color-e6;
  //      padding-top: 5px;
  //      padding-bottom: 5px;
  //      &.green {
  //        color: $color-green;
  //      }
  //      &.red {
  //        color: $color-red;
  //      }
  //    }
  //  }
  //}
}
//// TRADE MANAGER WIDGET
//.widget--trade-manager {
//  .tabs-content {
//    margin-top: 10px;
//  }
//  .half_width:first-of-type {
//    padding-right: 10px;
//  }
//  .scroll {
//    max-width: 100%;
//    overflow: hidden;
//    overflow-x: auto;
//    max-height: 150px;
//    overflow-y: auto;
//  }
//  .data-table {
//    min-width: 400px;
//    .lr-sticky-header {
//      min-width: 400px;
//    }
//  }
//  .widget__info-bar {
//    margin-left: -10px;
//    margin-right: -10px;
//  }
//  .inputs-list {
//    display: flex;
//    li {
//      flex: 1 1 33%;
//      padding: 0 10px;
//      input[type="text"],
//      select {
//        width: 100%;
//        height: font-rem(25);
//        line-height: font-rem(25);
//      }
//    }
//  }
//  .collapse-btn {
//    display: block;
//  }
//  .hover-table {
//    position: absolute;
//    border: 2px solid $color-blue;
//    box-shadow: 0 0 20px 0 rgba(26, 106, 123, 0.5);
//  }
//  .customScroll {
//    height: 200px;
//    overflow-x: auto;
//  }
//  @media screen and (min-width: $desktop-breakpoint-px) {
//    .collapse-btn {
//      display: none;
//    }
//  }
//}
//// ORDER WIDGET
//.widget--order-widget {
//  .order-main-details {
//    display: -webkit-flex;
//    display: -ms-flex;
//    display: flex;
//    margin: 2px -8px;
//  }
//  .order-details {
//    margin-right: 2px;
//    padding: 7px;
//    flex-grow: 1;
//    height: 40px;
//    background: #252525;
//    font-size: font-rem(11);
//    background-size: 100% 30px;
//    background-repeat: no-repeat;
//    background-position: bottom;
//    &__label {
//      color: #646464;
//      display: block;
//      margin-bottom: font-rem(2);
//    }
//    &__number {
//      display: block;
//      text-align: right;
//      color: $color-e6;
//      svg {
//        margin-left: 10px;
//        vertical-align: middle;
//      }
//    }
//    &.positive {
//      background: linear-gradient(to top, rgba(28, 217, 153, 0.1), rgba(25, 25, 25, 0.2) 100%);
//      svg {
//        fill: $color-green;
//      }
//    }
//    &.negative {
//      background: linear-gradient(to top, rgba(249, 55, 78, 0.1), rgba(25, 25, 25, 0.2) 100%);
//      svg {
//        fill: $color-red;
//      }
//    }
//  }
//  .inputs-list {
//    margin-top: 12px;
//    li {
//      display: inline-block;
//      margin-right: 5px;
//      margin-bottom: 15px;
//      &:nth-child(4n+4) {
//        margin-right: 0;
//      }
//    }
//    label {
//      font-weight: $font-family-light;
//      display: block;
//      font-size: font-rem(11);
//      color: $color-64;
//      margin-bottom: 3px;
//    }
//    .input-with-button {
//      position: relative;
//      width: 73px;
//      padding-right: 30px;
//      input {
//        width: 100%;
//      }
//      button {
//        position: absolute;
//        right: 0;
//        top: 0;
//      }
//    }
//    button,
//    input,
//    select {
//      height: font-rem(25);
//      line-height: 1;
//    }
//  }
//  .full-search {
//    margin-right: -10px;
//    margin-left: -10px;
//  }
//  .small {
//    width: font-rem(57);
//  }
//  .big {
//    width: font-rem(95);
//  }
//  .buttons {
//    display: flex;
//    button {
//      flex-grow: 1;
//      &:first-of-type {
//        margin-right: 10px;
//      }
//    }
//  }
//  @media screen and (max-width: $desktop-breakpoint-px) {
//    display: none;
//  }
//}
////  QUICK TRADES WIDGET
//.workspace__widget--quick-trades {
//  .widget__content {
//    position: relative;
//    width: 100%;
//  }
//  ul {
//    color: $color-e6;
//    font-size: font-rem(11);
//  }
//  .dark-btn {
//    background: #191919;
//    font-size: font-rem(9);
//    font-weight: $font-family-light;
//    padding: 5px;
//    position: absolute;
//    right: 0;
//    top: 10px;
//  }
//  .data {
//    padding: 10px 0;
//    border-bottom: 1px solid #232323;
//    position: relative;
//    .abstract {
//      color: $color-64;
//      margin-bottom: 4px;
//      .big {
//        font-size: font-rem(12);
//      }
//    }
//    &.positive {
//      &:before {
//        position: absolute;
//        left: -10px;
//        content: '';
//        width: 1px;
//        height: 80%;
//        background: $color-green;
//        top: 10%;
//      }
//    }
//    &.negative {
//      &:before {
//        position: absolute;
//        left: -10px;
//        content: '';
//        width: 1px;
//        height: 80%;
//        background: $color-red;
//        top: 10%;
//      }
//    }
//  }
//}
