<!DOCTYPE html>
<html>
<head>
    <title>Pharos</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!--<link rel="icon" href="favicon.png" type="image/png">-->

    <!-- build:css(.tmp) styles/vendors.min.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/layout.min.css -->
    <link rel="stylesheet" href="styles/layout.css"/>
    <!-- endbuild -->

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <p class="browsehappy">
        You are using an
        <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a>
        to improve your experience.
    </p>
    <![endif]-->
</head>
<body>
<!-- SVG ICONS -->
{% include 'app/images/svgs/icons-set.svg'%}
<!-- PARENT -->
<div :class="['container', currentPage]" id="container" @click="toggleFlags" @contextmenu.stop.prevent>
    <!-- LEFT BAR -->
    <router-view name="leftBar"></router-view>
    <router-view name="rightBar"></router-view>
    <router-view name="topBar"></router-view>
    <router-view></router-view>
</div>
<!-- build:js(.tmp) scripts/vendors.min.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js(.tmp) scripts/scripts.min.js -->
<script type="text/javascript" src="scripts/app.js"></script>
<!-- endbuild -->
</body>
</html>
