<template>
    <div class="condition">
        <h4 :class="{'condition__open': type == 'positive','condition__close': type == 'negative'}">
            {{ value }}
            <svg>
                <use v-bind:xlink:href="type == 'positive' ? '#done':'#cancel'"></use>
            </svg>
        </h4>
    </div>
</template>

<script>
    export default {
        props: {
            value: {
                default: 'Open'
            },
            type: {
                default: 'positive'
            }
        }
    }
</script>
<!--<style lang="sass"></style>-->