<template>
    <aside class="leftBar">
        <div class="leftBar__logo">
            <img src="../images/logo.png" alt="Logo">
        </div>
        <div class="leftBar__iconsContent">
            <router-link to="/overview" class="leftBar__iconContent leftBar__iconContent--screener">
                <svg width="22" height="20" fill="white">
                    <use xlink:href="#Screener"></use>
                </svg>
                <h5 class="leftBar__iconstext">Screener</h5>
            </router-link>
            <router-link to="/analytics" class="leftBar__iconContent leftBar__iconContent--analytics">
                <svg>
                    <use xlink:href="#analytics"></use>
                </svg>
                <h5 class="leftBar__iconstext">Analytics</h5>
            </router-link>
            <router-link to="portfolio" class="leftBar__iconContent leftBar__iconContent--portfolio">
                <svg>
                    <use xlink:href="#portfolio"></use>
                </svg>
                <h5 class="leftBar__iconstext">Portfolio</h5>
            </router-link>
            <router-link to="financial" class="leftBar__iconContent leftBar__iconContent--financial">
                <svg>
                    <use xlink:href="#financial"></use>
                </svg>
                <h5 class="leftBar__iconstext">Financial</h5>
            </router-link>
        </div>
        <div class="leftBar__chat">
            <svg>
                <use xlink:href="#chat"></use>
            </svg>
            <h5>
                Chat with Expert
            </h5>
        </div>
    </aside>
</template>
<script>
    export default{
        name: "LeftBar"
    }
</script>
<!--<style lang="sass"></style>-->