<template>
    <div class="login">
        <div class="login__content">
            <div class="login__logo">
                <img src="images/logo.png" alt="logo">
            </div>
            <div class="login__form" v-bind:class="{isLoading:loadingState}">
                <!-- LOGN -->
	                <div  class="login__login-wrapper" v-show="loginFlag=='login'">
	                    <form>
	                    <!-- CLOSE ICON -->
	                    <svg class="login__close">
	                        <use xlink:href="#close"></use>
	                    </svg>
	                    <!-- TITLE -->
	                    <h4 class="login__title textAlign--center" v-bind:class="{'text-colorRed':invalidMsg}">{{ welcomeMsg }}</h4>
	                    <!-- USERNAME -->
	                    <div class="login__inputContent">
	                        <h5 class="login__label">
	                            <label for="username">Username</label>
	                        </h5>
	                        <input class="login__input" id="username" type="text " v-model="username">
	                        <div class="login__condition">
	                            <svg class="login__conditionTrue" v-if="username">
	                                <use xlink:href="#done"></use>
	                            </svg>
	                            <svg class="login__conditionFalse" v-if="!username">
	                                <use xlink:href="#cancel"></use>
	                            </svg>
	                        </div>
	                    </div>
	                    <!-- PASSWORD -->
	                    <div class="login__inputContent">
	                        <h5 class="login__label">
	                            <label for="password">Password</label>
	                        </h5>
	                        <input class="login__input" id="password" type="password" v-model="password">
	                        <div class="login__condition">
	                            <svg class="login__conditionTrue" v-if="password">
	                                <use xlink:href="#done"></use>
	                            </svg>
	                            <svg class="login__conditionFalse" v-if="!password">
	                                <use xlink:href="#cancel"></use>
	                            </svg>
	                        </div>
	                    </div>
	                    <!-- FORGET PASSWORD -->
	                    <h5 class="login__forget">
	                        <a href="#">Forgot your password?</a>
	                    </h5>
	                    <!-- CAPTCHA -->
	                    <div class="login__captcha">
	                        <img src="images/captcha.png">
	                    </div>
	                    <!-- BUTTONS -->
	                    <div class="login__buttons">
	                        <input class="login__btn login__btn--login" type="button" value="Login" @click="login(); loginFlag='question'">
	                        <input class="login__btn login__btn--token" type="button" value="Token Login" @click="loginFlag='token'">
	                    </div>
	                </form>
	                </div>
                <!-- SECRET QUESTIONS -->
                	<div class="login__question-wrapper"  v-show="loginFlag=='question'">

                    <form>
											<!-- CLOSE ICON -->
											<svg class="login__back-arrow" @click="loginFlag='login'">
													<use xlink:href="#arrow-more-selling"></use>
											</svg>
                        <!-- TITLE -->
                        <h4 class="login__title textAlign--center">SECRET QUESTION</h4>
                        <!-- QUESTIONS -->
                        <div class="login__inputContent">
                            <h5 class="login__label">
                                <label for="question">What is your favorite color</label>
                            </h5>
                            <input class="login__input" id="question" type="text " v-model="questionn">
                            <div class="login__condition">
                                <svg class="login__conditionTrue" v-if="questionn">
                                    <use xlink:href="#done"></use>
                                </svg>
                                <svg class="login__conditionFalse" v-if="!questionn">
                                    <use xlink:href="#cancel"></use>
                                </svg>
                            </div>
                        </div>

                        <!-- FORGET SCECRET QUESTIONS -->
                        <h5 class="login__forget">
                            <a href="#">Forgot your secret question</a>
                        </h5>

                        <!-- BUTTONS -->
                            <input class="login__btn login--submit-btn full_width" type="button" value="Submit" @click="secretQuestion">
                    </form>
                </div>
								  <!-- TOKEN LOGIN -->
											<div class="login__token-wrapper"  v-show="loginFlag=='token'">
			                    <form>
														<!-- ARROW ICON -->
														<svg class="login__back-arrow login__back-arrow--token" @click="loginFlag='login'">
																<use xlink:href="#arrow-more-selling"></use>
														</svg>
			                        <!-- TITLE -->
			                        <h4 class="login__title login__title--token">Terms and Condition</h4>
			                   				<p class="login__token-p">Security tokens are another layer of authentication that proves the client's identity electronically. Each client has a private pin to use while singing to his account hence sharing the token pin with anyone is the sole responsibility of the client and in case of loss the client should contact us immediately .</p>
																<input type="checkbox" id="checkbox-1-1" class="ui-checkbox"> <label for="checkbox-1-1">I agree to Terms and Conditions</label>
			                        <!-- BUTTONS -->
			                            <input class="login__btn login--submit-btn full_width" type="button" value="Submit" @click="secretQuestion">
			                    </form>
			                </div>
            </div>
        </div>
    </div>
</template>

<script>
    //    import axios from 'axios';
    export default {
        name: "Login",
        data(){
            return {
                loginFlag: "login",
                welcomeMsg: 'WELCOME BACK !',
                username: '',
                password: '',
                questionn: '',
                loadingState: false,
                invalidMsg: false
            };
        },
        methods: {
            login() {
                console.log('sss')


                const url = "https://wapi01.pharoslive.com/api/login",
//                    url = "http://www.json-generator.com/api/json/get/caXJvoKjjC?indent=2",
                    Obj = {
                        method: "POST",
                        body: JSON.stringify({
                            UserName: this.username.toString(),
                            Password: this.password.toString(),
                            Language: 1
//                            UserName: "pharos-2829",
//                            Password: "broker123",
                        }),
                        headers: new Headers({
                            "content-type": "application/json"
                        })
                    };
                if (this.username && this.password) {
                    this.loadingState = true;
                    //RESET VALIDATION
                    this.welcomeMsg = '';
                    this.invalidMsg = false;
                    //FETCH DATA FROM SERVER
//                    axios.post(url, {
//                        Username: this.username,
//                        Password: this.password,
//                        Language: 1
//                    }).then(function(response) {
//                        console.log(response.data);
//                    });
                    fetch(url, Obj)
                        .then(result => result.json())
                        .then(parsedResult => {

                            this.loadingState = false;
                            window.xx = parsedResult;
                            console.log(parsedResult + '     ' + parsedResult.RESULT)

                            if (parsedResult.Token === undefined) {
                                this.welcomeMsg = 'Username or Password is incorrect.';
                                this.invalidMsg = true;
                            }
                            else {
																 this.loginFlag == 'question'
                                // this.router.replace('/overview');
                            }
                        })
                        .catch(error => {
                            this.loadingState = false;
                            this.welcomeMsg = 'Somthing went wrong, please check your connection.';
                            console.log(error.message)
                        });
                }
                else {
                    this.welcomeMsg = 'Please fill the required data !!!';
                    this.invalidMsg = true;
                }

            },
						secretQuestion: function() {
							  this.$router.replace('/overview');
						}
        }
    }
</script>
<!--<style lang="sass"></style>-->
