<template>
    <div class="rightBar" :class="{'rightBar--open': openRightBar}">
        <div class="rightBar__placeholder" v-if="editMode">TRADE MANAGER SPACE</div>
        <aside class="rightBar__content" v-if="!editMode">
            <!-- PORTFOLIO  MANAGER WIDGET -->
            <div class="widget widget--portfolio">
                <div class="widget__title">
                    <h5>PORTFOLIO MANAGER</h5>
                    <svg class="closeArrowIcon ml-a" @click="openRightBar = false">
                        <use xlink:href="#close-arrow"></use>
                    </svg>
                </div>
                <div class="widget__data">
                    <!-- TABS BUTTON -->
                    <div class="widget__tabsContent">
                        <div class="widget__tab"
                             :class="{'widget__tab--isActive':portfolioTabsFlag=='position'}"
                             @click="portfolioTabsFlag = 'position'">
                            <h5>MY POSITIONS</h5>
                            <!-- SELECT INPUT -->
                            <div v-show="portfolioTabsFlag=='position'" class="workspace__selectContent"
                                 data-target="customDropdown">
                                <div class="flex f-a-c" @click.stop.prevent="callDropdown">
                                    <h5>Margin</h5>
                                    <svg>
                                        <use xlink:href="#arrow-decrease"></use>
                                    </svg>
                                </div>
                                <!-- CUSTOM DROPDOWN -->
                                <dropdown type="select">
                                    <ul class="customDropdown__level1">
                                        <li class="customDropdown__link">Regular</li>
                                        <li class="customDropdown__link">Same day</li>
                                        <li class="customDropdown__link">Margin</li>
                                    </ul>
                                </dropdown>
                            </div>
                        </div>
                        <div class="widget__tab"
                             :class="{'widget__tab--isActive':portfolioTabsFlag=='orders'}"
                             @click="portfolioTabsFlag = 'orders'">
                            <h5>MY ORDERS</h5>
                            <!-- SELECT INPUT -->
                            <div v-show="portfolioTabsFlag=='orders'" class="workspace__selectContent"
                                 data-target="customDropdown">
                                <div class="flex f-a-c" @click.stop.prevent="callDropdown">
                                    <h5>Basic</h5>
                                    <svg>
                                        <use xlink:href="#arrow-decrease"></use>
                                    </svg>
                                </div>
                                <!-- CUSTOM DROPDOWN -->
                                <dropdown type="select">
                                    <ul class="customDropdown__level1">
                                        <li class="customDropdown__link">Basic</li>
                                        <li class="customDropdown__link">Conditional</li>
                                        <li class="customDropdown__link">Saved</li>
                                        <li class="customDropdown__link">Triggers</li>
                                    </ul>
                                </dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="widget__tabBody" v-show="portfolioTabsFlag=='position'">
                        <div class="widget__dataContent">
                            <div class="widget__dataItem">
                                <h6 class="widget__dataItemTitle">Market Value</h6>
                                <h5 class="text-colorLightGray">80,780.36</h5>
                            </div>
                            <div class="widget__dataItem">
                                <h6 class="widget__dataItemTitle">Limit</h6>
                                <h5 class="text-colorLightGray">19.82</h5>
                            </div>
                            <div class="widget__dataItem">
                                <h6 class="widget__dataItemTitle">Portfolio Value</h6>
                                <h5 class="text-colorLightGray">25,294.71</h5>
                            </div>
                            <div class="widget__dataItem">
                                <h6 class="widget__dataItemTitle">Current Margin</h6>
                                <h5 class="text-colorLightGray">% 0.00</h5>
                            </div>
                            <div class="widget__dataItem">
                                <h6 class="widget__dataItemTitle">Available Fund for Trading</h6>
                                <h5 class="text-colorLightGray">30,569</h5>
                            </div>
                        </div>
                        <div class="widget__dataTable">
                            <!-- TABLE -->
                            <div class="customTable customScrollH">
                                <div class="customTable__data customScroll">
                                    <table class="customTable__table" cellpadding="0" cellspacing="0">
                                        <thead>
                                        <tr class="customTable__head">
                                            <th>Symbol</th>
                                            <th>Shares</th>
                                            <th>Avg. Cost</th>
                                            <th>L. Price</th>
                                            <th>Un. P/L</th>
                                            <th>Custodian</th>
                                            <th>Settled</th>
                                        </tr>
                                        </thead>
                                        <tbody class="customTable__body">
                                        <tr v-for="n in 25">
                                            <td class="text-colorLightGray">ARCC</td>
                                            <td class="text-colorLightGray">2.784</td>
                                            <td class="text-colorLightGray">24.20</td>
                                            <td class="text-colorGreen">29.01</td>
                                            <td class="text-colorRed">2,215,201</td>
                                            <td>Pharos Holding</td>
                                            <td>22,784</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget__tabBody" v-show="portfolioTabsFlag=='orders'">
                        <div class="workspace__topBar f-j-b">
                            <!-- SELECT INPUT -->
                            <div class="workspace__selectContent"
                                 data-target="customDropdown">
                                <div class="flex f-a-c" @click.stop.prevent="callDropdown">
                                    <h5>All</h5>
                                    <svg>
                                        <use xlink:href="#arrow-decrease"></use>
                                    </svg>
                                </div>
                                <!-- CUSTOM DROPDOWN -->
                                <dropdown type="select">
                                    <ul class="customDropdown__level1">
                                        <li class="customDropdown__link">
                                            <span>All Tags</span>
                                        </li>
                                        <li class="customDropdown__link">
                                            <span>Red Tag</span>
                                        </li>
                                        <li class="customDropdown__link">
                                            <span>Green Tag</span>
                                        </li>
                                    </ul>
                                </dropdown>
                            </div>
                            <!-- CALENDAR -->
                            <div class="workspace__topBarDate">
                                <h6>From</h6>
                                <span class="workspace__topBarSep">|</span>
                                <input class="calendarInput">
                            </div>
                            <!-- CALENDAR -->
                            <div class="workspace__topBarDate">
                                <h6>To</h6>
                                <span class="workspace__topBarSep">|</span>
                                <input class="calendarInput">
                            </div>
                        </div>
                        <div class="widget__dataContent">
                            <div class="widget__dataItem">
                                <h6 class="widget__dataItemTitle">Market Value</h6>
                                <h5 class="text-colorLightGray">80,780.36</h5>
                            </div>
                            <div class="widget__dataItem">
                                <h6 class="widget__dataItemTitle">Limit</h6>
                                <h5 class="text-colorLightGray">19.82</h5>
                            </div>
                            <div class="widget__dataItem">
                                <h6 class="widget__dataItemTitle">Portfolio Value</h6>
                                <h5 class="text-colorLightGray">25,294.71</h5>
                            </div>
                            <div class="widget__dataItem">
                                <h6 class="widget__dataItemTitle">Current Margin</h6>
                                <h5 class="text-colorLightGray">% 0.00</h5>
                            </div>
                            <div class="widget__dataItem">
                                <h6 class="widget__dataItemTitle">Available Fund for Trading</h6>
                                <h5 class="text-colorLightGray">30,569</h5>
                            </div>
                        </div>
                        <div class="widget__dataTable">
                            <!-- TABLE -->
                            <div class="customTable customScrollH">
                                <div class="customTable__data customScroll">
                                    <table class="customTable__table" cellpadding="0" cellspacing="0">
                                        <thead>
                                        <tr class="customTable__head">
                                            <th></th>
                                            <th>Symbol</th>
                                            <th>Shares</th>
                                            <th>Avg. Cost</th>
                                            <th>L. Price</th>
                                            <th>Un. P/L</th>
                                            <th>Custodian</th>
                                            <th>Settled</th>
                                        </tr>
                                        </thead>
                                        <tbody class="customTable__body">
                                        <tr v-for="n in 25">
                                            <td>
                                                <svg class="settingsIcon">
                                                    <use xlink:href="#settings"></use>
                                                </svg>
                                            </td>
                                            <td class="text-colorLightGray">ARCC</td>
                                            <td class="text-colorLightGray">2.784</td>
                                            <td class="text-colorLightGray">24.20</td>
                                            <td class="text-colorGreen">29.01</td>
                                            <td class="text-colorRed">2,215,201</td>
                                            <td>Pharos Holding</td>
                                            <td>22,784</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ORDER WIDGET -->
            <div class="widget widget--orders">
                <div class="widget__title">
                    <h5>ORDER</h5>
                    <!-- SELECT INPUT -->
                    <div class="workspace__selectContent"
                         data-target="customDropdown">
                        <div class="flex f-a-c" @click.stop.prevent="callDropdown">
                            <h6>{{orderSelectedType}}</h6>
                            <svg>
                                <use xlink:href="#arrow-decrease"></use>
                            </svg>
                        </div>
                        <!-- CUSTOM DROPDOWN -->
                        <dropdown type="select">
                            <ul class="customDropdown__level1">
                                <li class="customDropdown__link"
                                    v-for="type in orderTypes"
                                    @click="orderSelectedType = type;OrderState=type">
                                    {{ type }}





                                </li>
                            </ul>
                        </dropdown>
                    </div>
                    <div class="widget__saveBtn darkBtn cursorPointer">
                        <h6>Save</h6>
                    </div>
                    <div class="darkBtn cursorPointer">
                        <h6>Set Alert</h6>
                    </div>
                </div>
                <div class="widget__data">
                    <div class="widget__highlightedPrices">
                        <div class="widget__prices widget__prices--positive">
                            <h5>Last P.</h5>
                            <div class="widget__pricesNumber text-colorLightGray">
                                <h5>102</h5>
                                <h4>.23</h4>
                                <svg class="arrowIcon">
                                    <use xlink:href="#arrow-decrease"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="widget__prices widget__prices--positive">
                            <h5>BID</h5>
                            <div class="widget__pricesNumber text-colorLightGray">
                                <h5>102</h5>
                                <h4>.43</h4>
                                <svg class="arrowIcon">
                                    <use xlink:href="#arrow-decrease"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="widget__prices widget__prices--negative">
                            <h5>ASK</h5>
                            <div class="widget__pricesNumber text-colorLightGray">
                                <h5>102</h5>
                                <h4>.27</h4>
                                <svg class="arrowIcon">
                                    <use xlink:href="#arrow-decrease"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="widget__searchContent">
                        <input type="text" value="AMER">
                        <svg class="searchIcon">
                            <use xlink:href="#search"></use>
                        </svg>
                    </div>
                    <div class="widget__filters">
                        <div class="widget__filter">
                            <h5>Shares</h5>
                            <div class="widget__filterContent widget__filterContent--shares">
                                <input type="text" value="2480">
                                <h6 class="cursorPointer">ALL</h6>
                            </div>
                        </div>
                        <div class="widget__filter">
                            <h5>Type</h5>
                            <div class="widget__filterContent widget__filterContent--type">
                                <select>
                                    <option value="">MKT</option>
                                    <option value="">LMT</option>
                                </select>
                            </div>
                        </div>
                        <div class="widget__filter">
                            <h5>Price</h5>
                            <div class="widget__filterContent widget__filterContent--price">
                                <input type="text" value="102.46">
                            </div>
                        </div>
                        <div class="widget__filter">
                            <h5>Custodian</h5>
                            <div class="widget__filterContent widget__filterContent--custodian">
                                <input type="text" value="Pharos Holding">
                            </div>
                        </div>
                        <div class="widget__filter">
                            <h5>Expiration</h5>
                            <div class="widget__filterContent widget__filterContent--expiration">
                                <select>
                                    <option value="">Today</option>
                                    <option value="">GTC</option>
                                    <option value="">GTD</option>
                                </select>
                            </div>
                        </div>
                        <div class="widget__filter">
                            <h5>Date</h5>
                            <div class="widget__filterContent widget__filterContent--date">
                                <input type="text" value="12-11-2017">
                            </div>
                        </div>
                        <div class="widget__filter">
                            <h5>Fill Terms</h5>
                            <div class="widget__filterContent widget__filterContent--terms">
                                <select>
                                    <option value="">AON</option>
                                    <option value="">Mini Filled</option>
                                </select>
                            </div>
                        </div>
                        <div class="widget__filter">
                            <h5>Value</h5>
                            <div class="widget__filterContent widget__filterContent--value">
                                <input type="text" value="6000">
                            </div>
                        </div>
                        <div class="widget__filter">
                            <h5>Portfolio</h5>
                            <div class="widget__filterContent widget__filterContent--portfolio">
                                <select name="">
                                    <option value="">P0001</option>
                                    <option value="">P0002</option>
                                </select>
                            </div>
                        </div>
                        <div class="widget__filter">
                            <h5>Allocation</h5>
                            <div class="widget__filterContent widget__filterContent--allocation">
                                <input id="allocation" type="checkbox">
                                <h5>
                                    <label class="text-colorLightGray" for="allocation">Enable</label>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="widget__submitBtns">
                        <div class="widget__submitBtn widget__submitBtn--buy">Buy</div>
                        <div class="widget__submitBtn widget__submitBtn--sell">Sell</div>
                    </div>
                </div>
            </div>
        </aside>
        <div class="rightBar__tablet" @click="openRightBar = true">
            <div class="rightBar__tabletTitle">Portfolio</div>
            <div class="rightBar__tabletBoxesContent">
                <div class="rightBar__tabletBoxesWrapper customScroll">
                    <div v-for="n in 20" class="rightBar__tabletBox" :class="{'rightBar__tabletBox--positive': n%2==0,'rightBar__tabletBox--negative': n%2!=0}">
                        <svg class="arrowIcon">
                            <use xlink:href="#arrow-increase"></use>
                        </svg>
                        <h3 class="rightBar__tabletBoxName">AMIR</h3>
                        <h6 class="rightBar__tabletBoxNumber">1.88%</h6>
                    </div>
                </div>
            </div>
        </div>
        <h5 class="rightBar__button">
            PLACE ORDER
        </h5>
    </div>
</template>

<script>
    import dropdown from './v-dropdown.vue'

    export default {
        components: {dropdown},
        name: "RightBar",
        data: function() {
            return {
                OrderState: 'Basic',
                openRightBar: false,
                portfolioTabsFlag: 'position',
                orderTypes: ['Basic', 'Conditional'],
                orderSelectedType: 'Basic'
            }
        },
        computed: {
            editMode() {
                return this.$store.state.editMode;
            }
        },
        methods: {
            callDropdown(e){
                this.$parent.callDropdown(e);
            }
        }
    }
</script>
<!--<style lang="sass"></style>-->
