<template>
    <div class="topBar">
        <header>
            <div class="topBar__dataContent topBar__dataContent--market">
                <div class="topBar__dataItem">
                    <h5 class="topBar__dataTitle">Market</h5>
                    <condition type="negative" value="Close"></condition>
                </div>
            </div>
            <div class="topBar__dataContent topBar__dataContent--numbers">
                <div class="topBar__dataItem">
                    <h5 class="topBar__dataTitle">EGX30</h5>
                    <h4 class="topBar__dataValue">11,366</h4>
                    <h4 class="topBar__dataPercentage text-colorRed">0.84%</h4>
                </div>
                <div class="topBar__dataItem">
                    <h5 class="topBar__dataTitle">EGX30</h5>
                    <h4 class="topBar__dataValue">1,450.50</h4>
                    <h4 class="topBar__dataPercentage text-colorRed">0.15%</h4>
                </div>
                <div class="topBar__dataItem">
                    <h5 class="topBar__dataTitle">EGX30</h5>
                    <h4 class="topBar__dataValue">1,064.51</h4>
                    <h4 class="topBar__dataPercentage text-colorGreen">0.8%</h4>
                </div>
                <svg class="topBar__downIcon" @click="dropdownChange">
                    <use xlink:href="#arrow-decrease"></use>
                </svg>
            </div>
            <div class="topBar__dataContent topBar__dataContent--currency" @click="dropdownCash">
                <div class="topBar__dataItem text-colorLightGray">Cash Balance</div>
                <svg class="topBar__downIcon">
                    <use xlink:href="#arrow-decrease"></use>
                </svg>
            </div>
            <div class="topBar__dataContent topBar__dataContent--notification">
                <div class="topBar__dataItem">
                    <div class="topBar__notificationNumber">
                        27
                    </div>
                    <svg class="topBar__notificationIcon">
                        <use xlink:href="#notification"></use>
                    </svg>
                </div>
                <div class="topBar__dataItem">
                    <h4 class="topBar__username">Natalie Blackwood</h4>
                    <h5 class="topBar__id">Pharos - 2829</h5>
                </div>
                <svg class="topBar__downIcon" @click="dropdown">
                    <use xlink:href="#arrow-decrease"></use>
                </svg>
            </div>
            <div class="topBar__dataContent topBar__dataContent--help">
                <svg class="topBar__helpIcon">
                    <use xlink:href="#help"></use>
                </svg>
            </div>
        </header>
        <div class="dropdown" ref="dropdown">
            <ul>
                <li class="dropdown__list">My Profile</li>
                <li class="dropdown__list">Account Settings</li>
                <li class="dropdown__list">Logout</li>
            </ul>
        </div>
        <div class="dropdown dropdown--cash-balance" ref="dropdownCash">
            <div class="row">
                <div class="column column--big">
                    <h5>EGP</h5>
                    <h6>Cash Balance</h6>
                    <h6>Avail. for Trading</h6>
                    <h6>Avail. for Withdrawal</h6>
                    <h6>margin %</h6>
                </div>
                <div class="column column--sm ">
                    <h5>Regular</h5>
                    <h6 class="positive">-5,197.00</h6>
                    <h6 class="negative">11,503.00</h6>
                    <h6>10,601.00</h6>
                    <h6>5%</h6>
                </div>
                <div class="column column--sm">
                    <h5>Same Day</h5>
                    <h6 class="positive">-5,197.00</h6>
                    <h6 class="negative">11,503.00</h6>
                    <h6>10,601.00</h6>
                </div>
                <div class="column column--sm ">
                    <h5>Margin</h5>
                    <h6 class="positive">-5,197.00</h6>
                    <h6 class="negative">11,503.00</h6>
                    <h6>10,601.00</h6>
                </div>
            </div>
            <div class="row">
                <div class="column column--big">
                    <h5>USD</h5>
                    <h6>Cash Balance</h6>
                    <h6>Avail. for Trading</h6>
                    <h6>Avail. for Withdrawal</h6>
                    <h6>margin %</h6>
                </div>
                <div class="column column--sm">
                    <h5>Regular</h5>
                    <h6>-5,197.00</h6>
                    <h6>11,503.00</h6>
                    <h6>10,601.00</h6>
                </div>
                <div class="column column--sm">
                    <h5>Same Day</h5>
                    <h6>-5,197.00</h6>
                    <h6>11,503.00</h6>
                    <h6>10,601.00</h6>
                </div>
                <div class="column column--sm">
                    <h5>Margin</h5>
                    <h6>-5,197.00</h6>
                    <h6>11,503.00</h6>
                    <h6>10,601.00</h6>
                </div>
            </div>
            <a href="#" class="view-all">VIEW BALANCE DETAILS</a>
        </div>
        <div class="dropdown dropdown--index-change" ref="dropdownChange">
            <div class="title">
                <h4>INDEX CHANGE</h4>
            </div>
            <div class="columns">
                <div class="column positive">
                    <h5>EGX30</h5>
                    <h3>18,18</h3>
                    <img src="../images/poisitive-graph.png" alt="">
                </div>
                <div class="column positive">
                    <h5>EGX30</h5>
                    <h3>18,18</h3>
                    <img src="../images/poisitive-graph.png" alt="">
                </div>
                <div class="column negative">
                    <h5>EGX30</h5>
                    <h3>18,18</h3>
                    <img src="../images/negative-graph.png" alt="">
                </div>
            </div>
            <div class="data">
                <h5 class="data-title">OVERALL MARKET STATUS</h5>
                <div class="row">
                    <div class="column">
                        <span>Trades</span>
                        <h4>245,791</h4>
                    </div>
                    <div class="column">
                        <span>Turnover</span>
                        <h4>245,791</h4>
                    </div>
                    <div class="column">
                        <span>Volume</span>
                        <h4>245,791</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <span>Advanced</span>
                        <h4>245,791</h4>
                    </div>
                    <div class="column">
                        <span>Declined</span>
                        <h4>702</h4>
                    </div>
                    <div class="column">
                        <span>Unchanged</span>
                        <h4>147</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TopBar",
        components: {
            condition: require('../templates/condition.vue')
        },
        data(){
            return {
                currencyFlag: 'usd'
            }
        },
        methods: {
            changeCurrency: function(currency) {
                this.currencyFlag = currency;
            },
            dropdown: function(e) {
                let offestTop = -30;
                let offestLeft = 150;
                this.$refs.dropdown.style.left = (e.x - offestLeft ) + "px";
                this.$refs.dropdown.style.top = (e.y - offestTop) + "px";
                this.$refs.dropdown.classList.toggle('is-active');
            },
            dropdownCash: function(e) {
                let offestTop = -30;
                let offestLeft = 300;
                this.$refs.dropdownCash.style.left = (e.x - offestLeft ) + "px";
                this.$refs.dropdownCash.style.top = (e.y - offestTop) + "px";
                this.$refs.dropdownCash.classList.toggle('is-active');
            },
            dropdownChange: function(e) {
                let offestTop = -30;
                let offestLeft = 450;
                this.$refs.dropdownChange.style.left = (e.x - offestLeft ) + "px";
                this.$refs.dropdownChange.style.top = (e.y - offestTop) + "px";
                this.$refs.dropdownChange.classList.toggle('is-active');
            }
        }
    }
</script>
