<template>
    <div class="customDropdown hide_display"
         :class="['customDropdown--' + type]">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        props: ['type']
    }
</script>
<!--<style lang="sass"></style>-->