<template>
    <div class="widget" :class="'widget--' + type">
        <slot></slot>
    </div>
</template>
<script>
    export default{
        name: 'widget',
        props: ['type']
    }
</script>