<template>
    <div class="workspace" ref="workspace">
        <!-- WIDGETS BAR IN EDIT MODE  -->
        <div class="widgetsBar" v-show="editMode">
            <!-- LOGO -->
            <div class="widgetsBar__logo">
                <img src="../images/logo.png" alt="Logo" >
            </div>
            <!-- LINKS -->
            <ul class="widgetsBar__menu">
                <li class="widgetsBar__link"
                    v-for="widget in widgets"
                    :data-id="widget.id">
                    <span>{{widget.title}}</span>
                    <div class="widgetsBar__drag"></div>
                </li>
            </ul>
        </div>
        <!-- WORKSPACE -->
        <div class="workspace__content">
            <!-- PLAYGROUND -->
            <div class="workspace__playgroundContent">
                <!-- GRIDLINES -->
                <div class="workspace__gridlines" ref="gridlines" v-show="editMode">
                    <div class="workspace__row"
                         v-for="i in 15"
                         :style="{top:'calc('+(100/15 * (i-1)) + '% + '+ (5/14) + 'rem)'}">
                        <div class="workspace__column" :class="freeSpaceClasses"
                             v-for="index in 24"
                             :style="{left: (100/24) * (index-1) + '%'}"></div>
                    </div>
                </div>
                <!-- WORKSPACES -->
                <div v-if="userWorkspaces"
                     v-for="(workspace,index) in userWorkspaces"
                     v-show="index == selectFlag"
                     :data-id="workspace.id"
                     class="workspace__panel">
                    <!-- WIDGETS HOLDER -->
                    <div class="workspace__widgetHolder"
                         v-if="workspace.widgets && widget"
                         v-for="widget in workspace.widgets"
                         :style="{width: 'calc('+ widget.width +'% - '+ gutter +'px)',
                                    height: 'calc('+ widget.height +'% - '+ gutter +'px)',
                                    left:'calc('+ widget.left +'% + '+ gutter +'px)',
                                    top:'calc('+ widget.top +'% + '+ gutter +'px)'}"
                         :data-id="widget.id">
                        <!-- WIDGET -->
                        <widget :type="widgets[widget.widId].class"
                                :title="widgets[widget.widId].title">
                            <!-- WIDGET RESIZE TOOLS -->
                            <div v-if="editMode" class="widget__resizeTools">
                                <div class="widget__resizeIcon widget__resizeIcon--bottom">
                                    <svg>
                                        <use xlink:href="#resize"></use>
                                    </svg>
                                </div>
                                <div class="widget__resizeIcon widget__resizeIcon--right">
                                    <svg>
                                        <use xlink:href="#resize"></use>
                                    </svg>
                                </div>
                                <!-- REMOVE BUTTON -->
                                <div class="widget__remove" @click="removeWidget">
                                    <condition value="Remove" type="negative"></condition>
                                </div>
                            </div>
                            <!-- TITLE -->
                            <div class="widget__title">
                                <h5 v-if="widgets[widget.widId].class!='news'">{{ widgets[widget.widId].title }}</h5>
                                <!-- TAB -->
                                <h5 v-if="widgets[widget.widId].class=='news'" class="workspace__newsTab"
                                    :class="{'workspace__newsTab--isActive':newsFlag=='news'}"
                                    @click="newsFlag='news'">
                                    {{ widgets[widget.widId].title }}
                                </h5>
                                <h5 v-if="widgets[widget.widId].class=='news'" class="workspace__newsTab"
                                    :class="{'workspace__newsTab--isActive':newsFlag=='bulletin'}"
                                    @click="newsFlag='bulletin'">
                                    BULLETIN
                                </h5>
                                <!-- SEARCH -->
                                <div class="workspace__searchContent"
                                     v-if="!editMode"
                                     v-show="widgets[widget.widId].searchIcon"
                                     data-target="customDropdown">
                                    <svg>
                                        <use xlink:href="#search"></use>
                                    </svg>
                                    <input class="workspace__searchInput"
                                           type="search"
                                           :placeholder="widgets[widget.widId].searchPlaceholder"
                                           @click.stop="callDropdown">
                                    <!-- SEARCH DROPDOWN -->
                                    <dropdown type="search">
                                        <ul class="customDropdown__level1">
                                            <li class="customDropdown__link customDropdown__searchResult">Your suggestions will show up here</li>
                                            <li class="customDropdown__link"
                                                v-on:mouseenter="callNested"
                                                v-on:mouseleave="hideNested"
                                                data-target="level2">
                                                <span>Lists</span>
                                                <svg class="customDropdown__arrow">
                                                    <use xlink:href="#arrow-decrease"></use>
                                                </svg>
                                                <!-- NESTED LIST -->
                                                <ul class="customDropdown__level2 hide_display" data-dropdown="level2">
                                                    <li class="customDropdown__link">
                                                        <span>All</span>
                                                    </li>
                                                    <li class="customDropdown__link">
                                                        <span>Watchlist</span>
                                                        <span>Default</span>
                                                    </li>
                                                    <li class="customDropdown__link">
                                                        <span>EGX 30</span>
                                                    </li>
                                                    <li class="customDropdown__link">
                                                        <span>EGX 70</span>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </dropdown>
                                </div>
                                <!-- SEARCH -->
                                <div class="workspace__searchContent"
                                     v-if="!editMode & compareFlag"
                                     v-show="widgets[widget.widId].searchIconSecond"
                                     data-target="customDropdown">
                                    <svg>
                                        <use xlink:href="#search"></use>
                                    </svg>
                                    <input @click.stop="callDropdown" class="workspace__searchInput"
                                           type="search"
                                           :placeholder="widgets[widget.widId].searchPlaceholder">
                                    <!-- SEARCH DROPDOWN -->
                                    <dropdown type="search">
                                        <ul class="customDropdown__level1">
                                            <li class="customDropdown__link customDropdown__searchResult">Your suggestions will show up here</li>
                                            <li class="customDropdown__link"
                                                v-on:mouseenter="callNested"
                                                v-on:mouseleave="hideNested"
                                                data-target="level2">
                                                <span>Lists</span>
                                                <svg class="customDropdown__arrow">
                                                    <use xlink:href="#arrow-decrease"></use>
                                                </svg>
                                                <!-- NESTED LIST -->
                                                <ul class="customDropdown__level2 hide_display" data-dropdown="level2">
                                                    <li class="customDropdown__link">
                                                        <span>All</span>
                                                    </li>
                                                    <li class="customDropdown__link">
                                                        <span>Watchlist</span>
                                                        <span>Default</span>
                                                    </li>
                                                    <li class="customDropdown__link">
                                                        <span>EGX 30</span>
                                                    </li>
                                                    <li class="customDropdown__link">
                                                        <span>EGX 70</span>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </dropdown>
                                </div>
                                <!-- SELECT INPUT -->
                                <div class="workspace__selectContent"
                                     v-if="!editMode"
                                     v-show="widgets[widget.widId].select">
                                    <div class="flex f-a-c" @click.stop="callDropdown">
                                        <h5 class="text-colorLightGray">
                                            {{widgets[widget.widId].selectPlaceholder}}
                                        </h5>
                                        <svg>
                                            <use xlink:href="#arrow-decrease"></use>
                                        </svg>
                                    </div>
                                    <!-- CUSTOM DROPDOWN -->
                                    <dropdown type="select">
                                        <ul class="customDropdown__level1">
                                            <li class="customDropdown__link">
                                                <span>Columns Settings</span>
                                            </li>
                                            <li class="customDropdown__link"
                                                v-on:mouseenter="callNested"
                                                v-on:mouseleave="hideNested"
                                                data-target="level2">
                                                <span>Default List</span>
                                                <svg class="customDropdown__arrow">
                                                    <use xlink:href="#arrow-decrease"></use>
                                                </svg>
                                                <!-- NESTED LIST -->
                                                <ul class="customDropdown__level2 hide_display" data-dropdown="level2">
                                                    <li class="customDropdown__link">
                                                        <span>All</span>
                                                    </li>
                                                    <li class="customDropdown__link">
                                                        <span>Watchlist</span>
                                                        <span>Default</span>
                                                    </li>
                                                    <li class="customDropdown__link">
                                                        <span>EGX 30</span>
                                                    </li>
                                                    <li class="customDropdown__link">
                                                        <span>EGX 70</span>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </dropdown>
                                </div>
                                <!-- TILE / SETTINGS ICONS -->
                                <div class="workspace__right" v-if="!editMode">
                                    <!-- TILES / LIST -->
                                    <div v-show="widgets[widget.widId].viewTypeIcons" class="workspace__viewType">
                                        <div v-show="widget.viewType == 'tile'" class="workspace__settingsIcon">
                                            <svg>
                                                <use xlink:href="#tiles"></use>
                                            </svg>
                                        </div>
                                        <div v-show="widget.viewType == 'list'" class="workspace__settingsIcon">
                                            <svg>
                                                <use xlink:href="#list"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <!-- SETTINGS -->
                                    <div v-show="widgets[widget.widId].settingsIcon"
                                         class="workspace__settingsIcon"
                                         data-target="customDropdown">
                                        <svg @click.stop.prevent="callDropdown">
                                            <use xlink:href="#settings"></use>
                                        </svg>
                                        <!-- CUSTOM DROPDOWN -->
                                        <dropdown type="settings">
                                            <ul class="customDropdown__level1">
                                                <li class="customDropdown__link">
                                                    <span>Columns Settings</span>
                                                </li>
                                                <li class="customDropdown__link"
                                                    v-on:mouseenter="callNested"
                                                    v-on:mouseleave="hideNested"
                                                    data-target="level2">
                                                    <span>Default List</span>
                                                    <svg class="customDropdown__arrow">
                                                        <use xlink:href="#arrow-decrease"></use>
                                                    </svg>
                                                    <!-- NESTED LIST -->
                                                    <ul class="customDropdown__level2 hide_display" data-dropdown="level2">
                                                        <li class="customDropdown__link">
                                                            <span>All</span>
                                                        </li>
                                                        <li class="customDropdown__link">
                                                            <span>Watchlist</span>
                                                            <span>Default</span>
                                                        </li>
                                                        <li class="customDropdown__link">
                                                            <span>EGX 30</span>
                                                        </li>
                                                        <li class="customDropdown__link">
                                                            <span>EGX 70</span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </dropdown>
                                    </div>
                                </div>
                                <!-- PLACE ORDER -->
                                <div class="darkBtn cursorPointer" v-if="!editMode" v-show="widgets[widget.widId].placeOrder">
                                    <h6>Place Order</h6>
                                </div>
                                <!-- SET ALERT -->
                                <div class="darkBtn cursorPointer" v-if="!editMode" v-show="widgets[widget.widId].setAlert">
                                    <h6>Set Alert</h6>
                                </div>
                            </div>
                            <!-- DATA -->
                            <div class="widget__data">
                                <!-- PLACEHOLDER -->
                                <div class="workspace__widgetPlaceholder workspace__widgetPlaceholder--text" v-if="editMode"></div>
                                <!--*** WIDGET DATA ***-->
                                <!-- MARKET WATCH -->
                                <div v-if="!editMode && (widgets[widget.widId].class == 'marketWatch' ||widgets[widget.widId].class == 'marketOverview')"
                                     class="workspace__widgetDataContent">
                                    <!-- CUSTOM DROPDOWN -->
                                    <dropdown type="tableRow">
                                        <ul class="customDropdown__level1">
                                            <li class="customDropdown__link">
                                                <span>Add to watchlist</span>
                                            </li>
                                            <li class="customDropdown__link">
                                                <span>Place order</span>
                                            </li>
                                            <li class="customDropdown__link">
                                                <span>Set trigger</span>
                                            </li>
                                        </ul>
                                    </dropdown>
                                    <!-- CUSTOM TABLE -->
                                    <div class="customTable">
                                        <div class="customTable__data customScroll">
                                            <table class="customTable__table" cellpadding="0" cellspacing="0">
                                                <thead>
                                                <tr class="customTable__head">
                                                    <th>Symbol</th>
                                                    <th>Lat P.</th>
                                                    <th>Chng%</th>
                                                    <th>Bid</th>
                                                    <th>Size</th>
                                                    <th>Ask</th>
                                                    <th>Size</th>
                                                    <th>Volume</th>
                                                </tr>
                                                </thead>
                                                <tbody class="customTable__body">
                                                <tr v-for="n in 25" @contextmenu.stop.prevent="callDropdownRow">
                                                    <td>
                                                        <div class="customTable__iconContent">
                                                            <svg class="customTable__icon">
                                                                <use xlink:href="#hand"></use>
                                                            </svg>
                                                            <span class="text-colorLightGray">ARCC</span>
                                                        </div>
                                                    </td>
                                                    <td class="text-colorLightGray">2.784</td>
                                                    <td class="text-colorGreen">24.20</td>
                                                    <td class="text-colorLightGray">29.01</td>
                                                    <td class="text-colorLightGray">2,215,201</td>
                                                    <td class="text-colorLightGray">18.40</td>
                                                    <td class="text-colorLightGray">22,784</td>
                                                    <td class="text-colorLightGray">298,789</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- TOP 5 -->
                                <div v-if="!editMode && widgets[widget.widId].class == 'top5'" class="workspace__widgetDataContent">
                                    <!-- TABLE -->
                                    <div class="customTable">
                                        <div class="customTable__data customScroll">
                                            <table class="customTable__table" cellpadding="0" cellspacing="0">
                                                <thead>
                                                <tr class="customTable__head">
                                                    <th>Symbols</th>
                                                    <th>Chng%</th>
                                                    <th>Last P.</th>
                                                    <th>Volume</th>
                                                </tr>
                                                </thead>
                                                <tbody class="customTable__body">
                                                <tr v-for="n in 25">
                                                    <td>
                                                        <svg width="8" height="5" fill="#1eaf7d">
                                                            <use xlink:href="#arrow-increase"></use>
                                                        </svg>
                                                        <h4 class="text-colorLightGray">ARCC</h4>
                                                    </td>
                                                    <td class="text-colorGreen">2.784</td>
                                                    <td class="text-colorLightGray">24.20</td>
                                                    <td class="text-colorLightGray">29.01</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- CHART -->
                                <div v-if="!editMode && widgets[widget.widId].class == 'chart'" class="workspace__widgetDataContent">
                                    <img src="../images/chart.png">
                                </div>
                                <!-- TRADES -->
                                <div v-if="!editMode && widgets[widget.widId].class == 'trades'" class="workspace__widgetDataContent">
                                    <!-- TABLE -->
                                    <div class="customTable">
                                        <div class="customTable__data customScroll">
                                            <table class="customTable__table" cellspacing="0" cellpadding="0">
                                                <thead>
                                                <tr class="customTable__head">
                                                    <th>Time</th>
                                                    <th>Symbol</th>
                                                    <th>Company</th>
                                                    <th>ChngPrice</th>
                                                    <th>Volume</th>
                                                </tr>
                                                </thead>
                                                <tbody class="customTable__body">
                                                <tr v-for="n in 25">
                                                    <td class="text-colorDarkGray">10:45:03</td>
                                                    <td class="text-colorLightGray">TMGH</td>
                                                    <td class="text-colorLightGray">Talaat Mustafa</td>
                                                    <td class="text-colorLightGray">18:20</td>
                                                    <td class="text-colorLightGray">8,789</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- QUICK TRADES -->
                                <div v-if="!editMode && widgets[widget.widId].class == 'quickTrades'" class="workspace__widgetDataContent">
                                    <div class="workspace__topBar">
                                        <svg class="calendarIcon">
                                            <use xlink:href="#calendar"></use>
                                        </svg>
                                        <input class="calendarIcon--alt" type="button">
                                        <div class="workspace__topBarDate">
                                            <h6>Showing</h6>
                                            <span class="workspace__topBarSep">|</span>
                                            <input class="calendarInput">
                                        </div>
                                        <!-- SELECT INPUT -->
                                        <div class="workspace__selectContent ml-a"
                                             data-target="customDropdown"
                                             @click.stop.prevent="callDropdown">
                                            <h5>All Tags</h5>
                                            <svg>
                                                <use xlink:href="#arrow-decrease"></use>
                                            </svg>
                                            <!-- CUSTOM DROPDOWN -->
                                            <dropdown type="select">
                                                <ul class="customDropdown__level1">
                                                    <li class="customDropdown__link">
                                                        <span>All Tags</span>
                                                    </li>
                                                    <li class="customDropdown__link">
                                                        <span>Red Tag</span>
                                                    </li>
                                                    <li class="customDropdown__link">
                                                        <span>Green Tag</span>
                                                    </li>
                                                </ul>
                                            </dropdown>
                                        </div>
                                        <div class="workspace__selectContent"
                                             data-target="customDropdown"
                                             @click.stop.prevent="callDropdown">
                                            <h5>All Trades</h5>
                                            <svg>
                                                <use xlink:href="#arrow-decrease"></use>
                                            </svg>
                                            <!-- CUSTOM DROPDOWN -->
                                            <dropdown type="select">
                                                <ul class="customDropdown__level1">
                                                    <li class="customDropdown__link">
                                                        <span>All Trades</span>
                                                    </li>
                                                    <li class="customDropdown__link">
                                                        <span>Buy Trades</span>
                                                    </li>
                                                    <li class="customDropdown__link">
                                                        <span>Sell Trades</span>
                                                    </li>
                                                </ul>
                                            </dropdown>
                                        </div>
                                    </div>
                                    <div class="workspace__widgetData flex">
                                        <div class="customScroll full_width">
                                            <div v-for="item in 10" class="workspace__dataItem"
                                                 :class="{'workspace__dataItem--negative': item%2==0,
                                                 'workspace__dataItem--positive': item%2!=0}">
                                                <div class="workspace__dataItemContent">
                                                    <h4 class="workspace__dataItemTitle">GTHE</h4>
                                                    <span class="workspace__topBarSep">-</span>
                                                    <h4 class="workspace__dataItemTitle">Sell</h4>
                                                    <h6 class="workspace__dataItemDate">07/01 | 12:09</h6>
                                                    <h6 class="darkBtn cursorPointer">Place Order</h6>
                                                </div>
                                                <div class="workspace__dataItemInfo">
                                                    <h5>Current Price: 7.27 - 7.28</h5>
                                                    <h5>Purchased Price: 7.46</h5>
                                                    <h5>Profits/Losses: +2.5%</h5>
                                                    <h5>Number of trading days: 14days</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- DESCRIPTION -->
                                <div v-if="!editMode && widgets[widget.widId].class == 'description'" class="workspace__widgetDataContent">
                                    <div v-show="!compareFlag" class="workspace__topBar">
                                        <div class="workspace__topbarData">
                                            <h5 class="workspace__topbarDataTitle text-colorDarkGray">BID</h5>
                                            <h5 class="workspace__topbarDataNumber text-colorRed">18.33</h5>
                                        </div>
                                        <div class="workspace__topbarData">
                                            <h5 class="workspace__topbarDataTitle text-colorDarkGray">BID</h5>
                                            <h5 class="workspace__topbarDataNumber text-colorRed">19.16</h5>
                                        </div>
                                        <div class="workspace__topbarData">
                                            <h5 class="workspace__topbarDataTitle text-colorDarkGray">Last P.</h5>
                                            <h5 class="workspace__topbarDataNumber text-colorGreen">19.21</h5>
                                        </div>
                                        <div class="workspace__topbarData">
                                            <h5 class="workspace__topbarDataTitle text-colorDarkGray">Chg%</h5>
                                            <h5 class="workspace__topbarDataNumber text-colorGreen">
                                                62.85%








































































































































































































































































































































































































































































































                                                <svg class="arrowIcon fill-green">
                                                    <use xlink:href="#arrow-increase"></use>
                                                </svg>
                                            </h5>
                                        </div>
                                    </div>
                                    <!-- DEFAULT SCREEN -->
                                    <div v-show="!compareFlag" class="workspace__widgetData flex">
                                        <div class="workspace__dataItem full_width flex f-d-c">
                                            <!-- TOP BAR -->
                                            <div class="flex f-s-0">
                                                <div>
                                                    <h5 class="text-colorLightGray">Talaat Mustafa Holding </h5>
                                                    <h6>TMGH I Real Estate I EGP </h6>
                                                </div>
                                                <div class="darkBtn cursorPointer ml-a"
                                                     @click="compareFlag=true">
                                                    <h6>Compare</h6>
                                                </div>
                                            </div>
                                            <!-- QUICK DATA -->
                                            <div class="workspace__dataItemQuick f-s-0">
                                                <!-- DATA -->
                                                <div class="workspace__quickData flex">
                                                    <h5>Qty</h5>
                                                    <h5 class="text-colorLightGray">4,250</h5>
                                                </div>
                                                <!-- DATA -->
                                                <div class="workspace__quickData flex">
                                                    <h5>Avg.Price</h5>
                                                    <h5 class="text-colorLightGray">19.38</h5>
                                                </div>
                                                <!-- DATA -->
                                                <div class="workspace__quickData flex">
                                                    <h5>Unrealized P/L</h5>
                                                    <h5 class="text-colorGreen">200,512</h5>
                                                </div>
                                            </div>
                                            <!-- MAIN OF DATA -->
                                            <div class="flex f-g-1 o-h">
                                                <!-- WHEN CLICK COMPARE, WE NEED TO REINITALIZE THE CUSTOM SCROLL -->
                                                <div class="full_width customScroll">
                                                    <div class="flex">
                                                        <div class="flex f-g-1 f-d-c description-sep">
                                                            <div v-for="n in 12" class="flex m-b-15">
                                                                <h5>Market Cap</h5>
                                                                <h5 class="text-colorLightGray ml-a">605.5</h5>
                                                            </div>
                                                        </div>
                                                        <div class="flex f-g-1 f-d-c">
                                                            <div v-for="n in 12" class="flex m-b-15">
                                                                <h5>Market Cap</h5>
                                                                <h5 class="text-colorLightGray ml-a">605.5</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- COMPARE SCREEN -->
                                    <div v-if="compareFlag" class="workspace__widgetData flex">
                                        <svg class="closeIcon" @click="compareFlag=false">
                                            <use xlink:href="#close"></use>
                                        </svg>
                                        <div class="workspace__dataItem full_width flex f-d-c">
                                            <div class="flex f-g-1 o-h">
                                                <div class="full_width customScroll">
                                                    <div class="flex">
                                                        <div class="flex f-g-1 f-d-c description-sep">
                                                            <!-- COMPANY NAME -->
                                                            <div>
                                                                <h5 class="text-colorLightGray">Talaat Mustafa Holding </h5>
                                                                <h6>TMGH I Real Estate I EGP </h6>
                                                                <h3 class="text-colorGreen m-b-15">62.89</h3>
                                                            </div>
                                                            <div v-for="n in 12" class="flex m-b-15">
                                                                <h5>Market Cap</h5>
                                                                <h5 class="text-colorLightGray ml-a">605.5</h5>
                                                            </div>
                                                        </div>
                                                        <div class="flex f-g-1 f-d-c">
                                                            <!-- COMPANY NAME -->
                                                            <div>
                                                                <h5 class="text-colorLightGray">Emaar Misr for Development</h5>
                                                                <h6>Real Estate</h6>
                                                                <h3 class="text-colorRed m-b-15">102.65</h3>
                                                            </div>
                                                            <div v-for="n in 12" class="flex m-b-15">
                                                                <h5>Market Cap</h5>
                                                                <h5 class="text-colorLightGray ml-a">605.5</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- RESEARCH -->
                                <div v-if="!editMode && widgets[widget.widId].class == 'research'" class="workspace__widgetDataContent">
                                    <div class="customScroll full_width">
                                        <div v-for="item in 10" class="workspace__dataItem">
                                            <div class="workspace__dataItemContent">
                                                <h6 class="workspace__dataItemTitle">EGX</h6>
                                                <span class="workspace__topBarSep">-</span>
                                                <h6 class="workspace__dataItemDate">07/01 | 12:09</h6>
                                            </div>
                                            <div class="workspace__dataItemInfo">
                                                <h5>The potential lies in the transmisiont by distribution.</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- NEWS -->
                                <div v-if="!editMode && widgets[widget.widId].class == 'news'" class="workspace__widgetDataContent"
                                     v-show="newsFlag=='news'">
                                    <div class="customScroll full_width">
                                        <div v-for="item in 10" class="workspace__dataItem">
                                            <div class="workspace__dataItemContent">
                                                <h6 class="workspace__dataItemTitle">EGX</h6>
                                                <span class="workspace__topBarSep">-</span>
                                                <h6 class="workspace__dataItemDate">07/01 | 12:09</h6>
                                            </div>
                                            <div class="workspace__dataItemInfo">
                                                <h5>The potential lies in the transmisiont by distribution.</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div v-if="!editMode && widgets[widget.widId].class == 'news'" class="workspace__widgetDataContent"
                                     v-show="newsFlag=='bulletin'">
                                    <div class="customScroll full_width">
                                        <div v-for="item in 10" class="workspace__dataItem">
                                            <div class="workspace__dataItemContent">
                                                <h6 class="workspace__dataItemTitle">TMG</h6>
                                                <span class="workspace__topBarSep">-</span>
                                                <h6 class="workspace__dataItemDate">07/01 | 12:09</h6>
                                            </div>
                                            <div class="workspace__dataItemInfo">
                                                <h5>The potential lies in the transmisiont by distribution.</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </widget>
                    </div>
                </div>
            </div>
            <!-- BOTTOM BAR -->
            <div class="bottomBar">
                <!-- TABS -->
                <div class="bottomBar__tabsContent">
                    <!-- CURRENT TABS -->
                    <div class="bottomBar__tab"
                         v-for="workspace in userWorkspaces"
                         :data-id="workspace.id"
                         :class="[workspace.id == selectFlag ? 'bottomBar__tab--active':'bottomBar__tab--inActive']"
                         @click="selectTab">
                        <span class="bottomBar__tabName" @keydown.enter.prevent="renameTab('end',$event)">{{workspace.title}}</span>
                        <svg class="bottomBar__downIcon" @click.stop="callDropdown">
                            <use xlink:href="#arrow-decrease"></use>
                        </svg>
                        <!-- DROPDOWN OPTIONS -->
                        <dropdown type="workspaceTabs">
                            <ul class="customDropdown__level1">
                                <li class="customDropdown__link" @click="renameTab('start',$event)">Rename</li>
                                <li class="customDropdown__link" @click.stop="deleteTab" :class="{'customDropdown__link--disabled':!workspace.editable}"
                                    disabled="!workspace.editable">
                                    Delete






























































































































































































                                









































































































































































































































































































                                </li>
                            </ul>
                        </dropdown>
                    </div>
                    <!-- ADD NEW TAB -->
                    <a class="bottomBar__tab bottomBar__tab--newTab" href="#/edit" @click="addWorkspace">
                        <span>New Workspace +</span>
                    </a>
                    <!-- EDIT WORKSPACE -->
                    <div class="bottomBar__tab bottomBar__tab--edit">
                        <div class="bottomBar__button" v-if="editMode" @click="saveEvent">
                            <condition type="positive" value="Save"></condition>
                        </div>
                        <div class="bottomBar__button" v-if="editMode" @click="cancelEvent">
                            <condition type="negative" value="Cancel" @click="cancelEvent"></condition>
                        </div>
                        <router-link v-if="!editMode" to="/edit">
                            <span>EDIT WORKSPACE</span>
                            <svg class="bottomBar__editIcon">
                                <use xlink:href="#edit"></use>
                            </svg>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue/dist/vue.common'
    import widget from '../templates/widget.vue'
    import dropdown from '../templates/v-dropdown.vue'
    import condition from '../templates/condition.vue'
    import CSSPlugin from 'gsap/CSSPlugin'
    import Draggable from 'gsap/Draggable'
    import noty from 'noty'

    export default{
        name: "workspace",
        components: {widget, condition, dropdown, Notification},
        data(){
            return {
                tabsFlag: "position",
                nestedTableFlag: false,
                gutter: 5,
                columns: 24,
                newsFlag: 'news',
                compareFlag: false,
                rows: 15,
                widgets: [ //HOLD ALL WIDGETS. IT'S THE SOURCE OF ALL WIDGETS
                    {
                        title: "Market Overview",
                        class: "marketOverview",
                        id: 0,
                        minColumns: 11,
                        maxColumns: 24,
                        minRows: 3,
                        offsetRows: 0,
                        offsetColumns: 0,
                        searchIcon: true,
                        searchPlaceholder: 'Watchlist',
                        settingsIcon: true,
                        viewTypeIcons: true,
                        viewType: 'tile',
                        dataType: 'table'
                    },
                    {
                        title: "Market Watch",
                        class: "marketWatch",
                        id: 1,
                        minColumns: 19,
                        maxColumns: 24,
                        minRows: 3,
                        offsetRows: 0,
                        offsetColumns: 0,
                        searchIcon: true,
                        searchPlaceholder: 'EGX30',
                        settingsIcon: true
                    },
                    {
                        title: "Top 5",
                        class: "top5",
                        id: 2,
                        minColumns: 5,
                        maxColumns: 9,
                        minRows: 4,
                        offsetRows: 0,
                        offsetColumns: 0,
                        select: true,
                        selectPlaceholder: 'Volume'
                    },
                    {
                        title: "Description",
                        class: "description",
                        id: 3,
                        minColumns: 9,
                        maxColumns: 12,
                        minRows: 6,
                        offsetRows: 0,
                        offsetColumns: 0,
                        searchIcon: true,
                        searchPlaceholder: 'TMGH',
                        setAlert: true,
                        placeOrder: true,
                        searchIconSecond: true
                    },
                    {
                        title: "Compare",
                        class: "compare",
                        id: 4,
                        minColumns: 9,
                        maxColumns: 12,
                        minRows: 6,
                        offsetRows: 0,
                        offsetColumns: 0
                    },
                    {
                        title: "Trades",
                        class: "trades",
                        id: 5,
                        minColumns: 7,
                        maxColumns: 10,
                        minRows: 4,
                        offsetRows: 0,
                        offsetColumns: 0,
                        searchIcon: true,
                        searchPlaceholder: 'All'
                    },
                    {
                        title: "Live Orders",
                        class: "liveOrders",
                        id: 6,
                        minColumns: 9,
                        maxColumns: 18,
                        minRows: 4,
                        offsetRows: 0,
                        offsetColumns: 0
                    },
                    {
                        title: "Order Book Summary",
                        class: "orderBookSummary",
                        id: 7,
                        minColumns: 9,
                        maxColumns: 18,
                        minRows: 4,
                        offsetRows: 0,
                        offsetColumns: 0
                    },
                    {
                        title: "Research",
                        class: "research",
                        id: 8,
                        minColumns: 5,
                        maxColumns: 10,
                        minRows: 3,
                        offsetRows: 0,
                        offsetColumns: 0,
                        searchIcon: true,
                        searchPlaceholder: 'SWDY'
                    },
                    {
                        title: "News",
                        class: "news",
                        id: 9,
                        minColumns: 5,
                        maxColumns: 10,
                        minRows: 3,
                        offsetRows: 0,
                        offsetColumns: 0,
                        searchIcon: true,
                        searchPlaceholder: 'All'
                    },
                    {
                        title: "LIVE TV",
                        class: "liveTv",
                        id: 10,
                        minColumns: 4,
                        maxColumns: 8,
                        minRows: 3,
                        offsetRows: 0,
                        offsetColumns: 0
                    },
                    {
                        title: "Quick Trades",
                        class: "quickTrades",
                        id: 11,
                        minColumns: 6,
                        maxColumns: 10,
                        minRows: 5,
                        offsetRows: 0,
                        offsetColumns: 0,
                        searchIcon: true,
                        searchPlaceholder: 'All Symbols'
                    },
                    {
                        title: "Chart",
                        class: "chart",
                        id: 12,
                        minColumns: 8,
                        maxColumns: 15,
                        minRows: 5,
                        offsetRows: 0,
                        offsetColumns: 0,
                        searchIcon: true,
                        searchPlaceholder: 'TMGH'
                    }
                ], //ALL DEFAULT WIDGETS DATA
                defaultWorkspaces: [
                    /*
                     * DEFAULT WORKSPACES THAT CAME WITH THE ACCOUNT
                     * widId --> REFER TO THE WIDGET IN THE "WIDGETS" OBJECT
                     * id --> IT'S IMPORTANT TO EASILY EDIT THIS DATA LATER(RESIZE, DRAG). IT CANNOT BE REPEATED IN THE SAME WORKSPACE.
                     */
                    {
                        id: 0,
                        title: 'Overview' ,
                        editable: false, //PREVENT TAB FROM BEIGN DELETED
                        freeSpaces: [], //IT WILL BE FILLED WHEN WE REMOVE WIDGET. IT WILL CONTAIN [top,left,rows,columns]
                        widgets: [
                            /*=======================================================
                             - WHY WE USE (rows, columns, offsetrow, offsetcolumns) -
                             * we use (rows, columns, offsetrows, offsetcolumns) to be understandable and easy to deal with
                             * so I can define widget's options (4 rows, 5 columns, 0 offsetRows, 3 offsetColumns)
                             * and then it will be transforme to the right (left, top, width, height).
                             * bottom line is:
                             **** rows ==> will convetred to height
                             **** columns ==> will convetred to width
                             **** offsetRows ==> will convetred to left
                             **** offsetColumns ==> will convetred to top
                             =======================================================*/
                            {
                                widId: 0,
                                id: 0,
                                rows: 9, // 0 MEANS IT WILL TAKE THE MIN ROWS
                                columns: 13, // 0 MEANS IT WILL TAKE THE MIN COLUMNS
                                offsetRows: 0,
                                offsetColumns: 0,
                                width: 0, //IT WILL BE CALCULATED IN 'initWorkspaces'
                                height: 0, //IT WILL BE CALCULATED IN 'initWorkspaces'
                                top: 0, //IT WILL BE CALCULATED IN 'initWorkspaces'
                                left: 0, //IT WILL BE CALCULATED IN 'initWorkspaces'
                                x: 0,
                                y: 0
                            },
                            {
                                widId: 2,
                                id: 1,
                                rows: 9,
                                columns: 5,
                                offsetRows: 0,
                                offsetColumns: 13,
                                width: 0,
                                height: 0,
                                top: 0,
                                left: 0,
                                x: 0,
                                y: 0
                            },
                            {
                                widId: 11,
                                id: 2,
                                rows: 9,
                                columns: 6,
                                offsetRows: 0,
                                offsetColumns: 18,
                                width: 0,
                                height: 0,
                                top: 0,
                                left: 0,
                                x: 0,
                                y: 0
                            },
                            {
                                widId: 3,
                                id: 3,
                                rows: 6,
                                columns: 10,
                                offsetRows: 9,
                                offsetColumns: 0,
                                width: 0,
                                height: 0,
                                top: 0,
                                left: 0,
                                x: 0,
                                y: 0
                            },
                            {
                                widId: 12,
                                id: 4,
                                rows: 6,
                                columns: 8,
                                offsetRows: 9,
                                offsetColumns: 10,
                                width: 0,
                                height: 0,
                                top: 0,
                                left: 0,
                                x: 0,
                                y: 0
                            },
                            {
                                widId: 8,
                                id: 5,
                                rows: 3,
                                columns: 6,
                                offsetRows: 9,
                                offsetColumns: 18,
                                width: 0,
                                height: 0,
                                top: 0,
                                left: 0,
                                x: 0,
                                y: 0
                            },
                            {
                                widId: 9, //REFER TO THE WIDGET IN THE "WIDGETS" OBJECT
                                id: 6, //IT'S IMPORTANT TO EASILY EDIT THIS DATA LATER(RESIZE, DRAG)
                                rows: 3,
                                columns: 6,
                                offsetRows: 12,
                                offsetColumns: 18,
                                width: 0,
                                height: 0,
                                top: 0,
                                left: 0,
                                x: 0,
                                y: 0
                            }
                        ]
                    },
                    {
                        id: 1,
                        title: 'Market Watch',
                        editable: false,
                        freeSpaces: [],
                        widgets: [
                            {
                                widId: 1,
                                id: 0,
                                rows: 9,
                                columns: 24,
                                offsetRows: 0,
                                offsetColumns: 0,
                                width: 0,
                                height: 0,
                                top: 0,
                                left: 0,
                                x: 0,
                                y: 0
                            },
                            {
                                widId: 5,
                                id: 1,
                                rows: 6,
                                columns: 9,
                                offsetRows: 9,
                                offsetColumns: 0,
                                width: 0,
                                height: 0,
                                top: 0,
                                left: 0,
                                x: 0,
                                y: 0
                            },
                            {
                                widId: 12,
                                id: 2,
                                rows: 6,
                                columns: 9,
                                offsetRows: 9,
                                offsetColumns: 9,
                                width: 0,
                                height: 0,
                                top: 0,
                                left: 0,
                                x: 0,
                                y: 0
                            },
                            {
                                widId: 9,
                                id: 3,
                                rows: 3,
                                columns: 6,
                                offsetRows: 9,
                                offsetColumns: 18,
                                width: 0,
                                height: 0,
                                top: 0,
                                left: 0,
                                x: 0,
                                y: 0
                            },
                            {
                                widId: 11,
                                id: 4,
                                rows: 3,
                                columns: 6,
                                offsetRows: 12,
                                offsetColumns: 18,
                                width: 0,
                                height: 0,
                                top: 0,
                                left: 0,
                                x: 0,
                                y: 0
                            }
                        ]
                    }],
                userWorkspaces: [], //USER'S WORKSPACE WITH HIS EDITS AND CHANGES. IF IT'S EMPTY THEN IT WILL EQUAL TO "defaultWorkspace"
                selectFlag: 0,
                draggedWidgets: '' //IT WILL HOLD ALL THE DRAGGED WIDGETS SO WE CAN ENABLE AND DISABLE IT EASILY
            }
        },
        computed: {
            editMode() {
                return this.$store.state.editMode;
            },
            dropdownFlag(){
                return this.$store.state.dropdownFlag;
            },
            freeSpaceClasses(){
                /*
                 * we will add "workspace__column--free_ID" classes to "workspace__column" to deferentiate between workspace panels and
                 * widgets will change the state with "workspace__column--reserved_ID" to notify us that it's reserved now.
                 * */
                let classes = [];
                this.userWorkspaces.forEach((w, index) => {
                    classes.push(`workspace__column--free_${index}`);
                })
                return classes;
            }
        },
        methods: {
            initWorkspaces(){
                //DEEP CLONE defaultWorkspaces
                const _this = this;
                this.userWorkspaces = $.extend(true, [], this.defaultWorkspaces); //GET THIS OBJECT FROM DB, IF IT'S EMPTY THEN EQUAL IT TO "defaultWorkspaces"
                this.positionWidgets(); //POSITION WIDGETS ON THE RIGHT PLACES AFTER BINDING THEM
            },
            initPlugins(){
                if (this.$route.path == '/overview') {
                    $('.calendarInput').flatpickr({defaultDate: 'today', dateFormat: "d/m/Y"}); //INITIATE DATETIME PICKERS
                    this.$parent.customTableStyle(); //FIX TABLE'S HEADERS
                    this.$parent.customScroll(); //CUSTOM SCROLL
                    this.draggedWidgets.length > 0 ? this.draggedWidgets.forEach(d => d.disable()) : '';
                }
                else if (this.$route.path == '/edit') {
                    this.dragLeftBar();
                    this.dragWidgets();
                    this.resizeWidget();
//                    this.draggedWidgets.length <= 0 ? this.dragWidgets() : ''; //INITIALIZE DRAGGABLE INSTANCE
//                    this.draggedWidgets.length > 0 ? this.draggedWidgets.forEach(d => d.enable()) : '';
//                this.dragResizeIcons(); //INITIALIZE DRAGGABLE INSTANCE
                }
            },
            defineFreeSpaces(elements = this.draggedWidgets, status = 'allWidgets'){
                //ELEMENT HAS TO BE DRAG INSTANCE
                let widgetHolders = elements, //GET ALL WIDGETS
                    gridlineBoxes, workspaceID;

                if (widgetHolders) {
                    if (status == 'allWidgets') {//RESERVE BOXES DEPENDS ON THE WIDGETS
                        for (let w of widgetHolders) {
                            workspaceID = $(w.target).parents('.workspace__panel').attr('data-id') //GET CURRENT WORKSPACE PANEL ID
                            gridlineBoxes = [...document.querySelectorAll(`.workspace__column--free_${workspaceID}`)] //GET BOXES OF EACH WORKSPACE PANEL

                            for (let c of gridlineBoxes) {
                                if (w.hitTest(c, 0)) {
                                    c.classList.remove(`workspace__column--free_${workspaceID}`)
                                    c.classList.add(`workspace__column--reserved_${workspaceID}`)
                                }
                            }
                        }
                    }
                    else if (status == 'draggedWidgets') {//FREE BOXES DEPENDS ON THE SINGLE WIDGET
                        workspaceID = $(widgetHolders.target).parents('.workspace__panel').attr('data-id') //GET CURRENT WORKSPACE PANEL ID
                        gridlineBoxes = [...document.querySelectorAll(`.workspace__column--reserved_${workspaceID}`)] //GET BOXES OF EACH WORKSPACE PANEL

                        for (let c of gridlineBoxes) {
                            if (widgetHolders.hitTest(c, 0)) {
                                c.classList.remove(`workspace__column--reserved_${workspaceID}`)
                                c.classList.add(`workspace__column--free_${workspaceID}`)
                            }
                        }
                    }
                    else if (status == 'reserveBoxes') {//FREE BOXES DEPENDS ON THE SINGLE WIDGET
                        workspaceID = $(widgetHolders.target).parents('.workspace__panel').attr('data-id') //GET CURRENT WORKSPACE PANEL ID
                        gridlineBoxes = [...document.querySelectorAll(`.workspace__column--free_${workspaceID}`)] //GET BOXES OF EACH WORKSPACE PANEL

                        for (let c of gridlineBoxes) {
                            if (widgetHolders.hitTest(c, 0)) {
                                c.classList.remove(`workspace__column--free_${workspaceID}`)
                                c.classList.add(`workspace__column--reserved_${workspaceID}`)
                            }
                        }
                    }
                }
            },
            addWorkspace(){
                let newWorkspace = {
                        id: '',
                        title: '',
                        editable: true,
                        freeSpaces: [
                            {
                                rows: this.rows,
                                columns: this.columns,
                                left: 0,
                                top: 0
                            }
                        ],
                        widgets: []
                    },
                    defaultTitle = "New Workspace",
                    generatedID, duplicationNumber;
                /*MAXIMUM 5 TABS*/
                if (this.userWorkspaces.length < 5) {
                    duplicationNumber = this.userWorkspaces.filter(w => w.title.match(new RegExp(defaultTitle, 'gi'))).length; //CHECk NAME DUPLICATION
                    generatedID = parseInt(this.userWorkspaces[this.userWorkspaces.length - 1].id) + 1;
                    newWorkspace.id = generatedID;
                    newWorkspace.title = `${defaultTitle} ${duplicationNumber > 0 ? duplicationNumber : ''}`;
                    this.userWorkspaces.push(newWorkspace) //ADD NEW TAB AND SELECT IT
                    this.selectFlag = this.userWorkspaces.length - 1; //SELECT NEW TAB
                }
            }, //ADD NEW WORKSPACE
            selectTab(e){
                this.selectFlag = e.currentTarget.dataset.id;
            },
            dragLeftBar(widget){
                /*
                 * Drag widget from the left bar.
                 * It will take the min columns and min rows by default
                 * When it's inside the playground, it will be locked inside it.
                 * It will interact with placed widgets and grid columns during dragging by adding "highlight" class to them
                 * When drag ends:
                 **** The draggable helper will fade out and turn back to it's position
                 **** if it doesn't intersect with other widget, so it can be placed successfully
                 **** We will add the new widget to this place by calculating "offsetRows, offsetColumns" from the helper location
                 * */
                let _this = this,
                    widgetHolders = document.querySelectorAll('.workspace__widgetHolder'), //USE IT FOR HIGHLIGHT
                    widgetBarItems = document.querySelectorAll('.widgetsBar__drag'), //USE IT FOR HIGHLIGHT
                    playgroundElement = document.querySelector('.workspace__playgroundContent'),
                    gridlineBoxes = document.querySelectorAll('.workspace__column'),
                    overlapThreshold = 0, applyBounds = false;

                Draggable.create(widgetBarItems, {
                    type: "x,y",
                    onDragStart(){
                        $(this.target).parents('.widgetsBar__link').addClass('widgetsBar__link--dragging')
                    },
                    onDrag(e){
                        if (this.hitTest(playgroundElement, '100%')) {

                            if (!applyBounds) {//LOCK DRAGGABLE ITEM TO THE PLAYGROUND
                                applyBounds = true;
                                this.applyBounds(playgroundElement)
                            }
                            //HIGHLIGHT THE INTERSECTIONS
                            for (let w of widgetHolders) {
                                if (this.hitTest(w, overlapThreshold))
                                    w.classList.add('workspace__widgetHolder--highlight')
                                else
                                    w.classList.remove('workspace__widgetHolder--highlight')
                            }
                            for (let c of gridlineBoxes) {
                                if (this.hitTest(c, '50%'))
                                    c.classList.add('workspace__column--highlight')
                                else
                                    c.classList.remove('workspace__column--highlight')
                            }
                        }
                    },
                    onDragEnd(){
                        applyBounds = false;
                        this.applyBounds('body');

                        //IT INTERSECT WITH OTHER WIDGET
                        if ($('.workspace__widgetHolder--highlight').length > 0) {
                            TweenLite.set(this.target, {x: this.startX, y: this.startY})
                            $('.workspace__widgetHolder--highlight').removeClass('workspace__widgetHolder--highlight')
                            $('.workspace__column--highlight').removeClass('workspace__column--highlight')
                            $(this.target).parents('.widgetsBar__link').removeClass('widgetsBar__link--dragging')
                        }
                        else {
                            let leftBarWidth = $('.widgetsBar__menu').width(),
                                topBarHeight = $('.topBar').height(),
                                itemOffsetLeft = $(this.target).offset().left - leftBarWidth - 5,
                                itemOffsetTop = $(this.target).offset().top - topBarHeight - 5,
                                workspaceID = $('.bottomBar__tab--active').attr('data-id'),
                                widgetID = $(this.target).parents('.widgetsBar__link').attr('data-id'),
                                widgetsIDs = _this.userWorkspaces[workspaceID].widgets.map(w => isNaN(w.id) ? 0 : w.id),
                                lastID = widgetsIDs.sort()[widgetsIDs.length - 1],
                                widgetsLength = _this.userWorkspaces[workspaceID].widgets.length,
                                targetedWidget = {
                                    widId: widgetID,
                                    id: widgetsLength > 0 ? lastID + 1 : 0,
                                    rows: _this.widgets[widgetID].minRows,
                                    columns: _this.widgets[widgetID].minColumns,
                                    offsetRows: _this.convertToRows(itemOffsetTop),
                                    offsetColumns: _this.convertToColumns(itemOffsetLeft),
                                    width: _this.calculateColumns(_this.widgets[widgetID].minColumns),
                                    height: _this.calculateRows(_this.widgets[widgetID].minRows),
                                    top: _this.calculateRows(_this.convertToRows(itemOffsetTop)),
                                    left: _this.calculateColumns(_this.convertToColumns(itemOffsetLeft)),
                                    x: 0,
                                    y: 0
                                };

                            TweenLite.set(this.target, {x: this.startX, y: this.startY})
                            $('.workspace__widgetHolder--highlight').removeClass('workspace__widgetHolder--highlight')
                            $('.workspace__column--highlight').removeClass('workspace__column--highlight')
                            $(this.target).parents('.widgetsBar__link').removeClass('widgetsBar__link--dragging')
                            _this.userWorkspaces[workspaceID].widgets.push(targetedWidget);
                        }
                    }
                });
            }, //ADD NEW WIDGET
            positionWidgets(){
                const _this = this;
                $(this.userWorkspaces).each(function() {
                    $(this.widgets).each(function() {
                        if (this != '') {
                            this.width = _this.calculateColumns(this.columns == 0 ? _this.widgets.find(widget => widget.id == this.widId).minColumns : this.columns);
                            this.height = _this.calculateRows(this.rows == 0 ? _this.widgets.find(widget => widget.id == this.widId).minRows : this.rows);
                            this.left = _this.calculateColumns(this.offsetColumns) < 0 ? 0 : _this.calculateColumns(this.offsetColumns);
                            this.top = _this.calculateRows(this.offsetRows) < 0 ? 0 : _this.calculateRows(this.offsetRows);
                        }
                    });
                });
            }, //POSITION WIDGETS AND GIVE THEM THE WIDTH AND HEIGHT
            removeWidget(e){
                const workspaceId = $(e.currentTarget).parents('.workspace__panel').attr('data-id'), //GET WORKSPACE ID & WIDGET ID
                    widgetId = $(e.currentTarget).parents('.workspace__widgetHolder').attr('data-id'),
                    widgetIndex = this.userWorkspaces[workspaceId].widgets.findIndex(widget => widget.id == widgetId),//GET THE WIDGET'S INDEX TO REMOVE IT
                    widgetElement = $(`.workspace__panel[data-id=${workspaceId}]`).find(`.workspace__widgetHolder[data-id=${widgetId}]`),
                    widgetIndraggedWidgets = this.draggedWidgets.find((d) => {
                        return d.target == widgetElement[0]
                    });

                this.defineFreeSpaces(widgetIndraggedWidgets, 'draggedWidgets');
                Vue.set(this.userWorkspaces[workspaceId].widgets, widgetIndex, ''); //REMOVE THE WIDGET
            }, //REMVOE WIDGET
            resizeWidget(){
                const _this = this;
                Draggable.create('.widget__resizeIcon--right', {
                    type: "x",
                    cursor: "col-resize",
                    onDragStart(){
                        _this.draggedWidgets.forEach(d => d.disable()); //DISABLE WIDGET'S DRAGGING TO PREVENT ANY CONFLECT BETWEEN IT AND THE RESIZING
                        $(this.target).parents('.widget').addClass('widget--isResizing');
                        this.applyBounds('.workspace__playgroundContent') //LOCK THE RESIZE ICON INSIDE THE PLAYGROUND
                    },
                    onDrag(e){
                        const _this = this,
                            widgetHolders = $(this.target).parents('.workspace__widgetHolder').siblings('.workspace__widgetHolder'),
                            overlapThreshold = 0;

                        for (let w of widgetHolders) {
                            if (this.hitTest(w, overlapThreshold))
                                w.classList.add('workspace__widgetHolder--highlight')
                            else
                                w.classList.remove('workspace__widgetHolder--highlight')
                        }
                    },
                    onDragEnd: function() {
                        this.applyBounds('body')
                        _this.draggedWidgets.forEach(d => d.enable()); //ENABLE WIDGET'S DRAGGING AGAIN
                        TweenLite.set(this.target, {x: 0, y: 0}) //RETURN "RESIZE" ICON TO IT'S PLACE
                        $(this.target).parents('.widget').removeClass('widget--isResizing');

                        //IT INTERSECT WITH OTHER WIDGET
                        if ($('.workspace__widgetHolder--highlight').length > 0) {
                            $('.workspace__widgetHolder--highlight').removeClass('workspace__widgetHolder--highlight')
                        } else {
                            const offsetColumns = _this.convertToColumns(this.x),
                                workspaceID = $('.bottomBar__tab--active').attr('data-id'),
                                widgetID = $(this.target).parents('.workspace__widgetHolder').attr('data-id'),
                                widgetData = _this.userWorkspaces[workspaceID].widgets[widgetID],
                                widgetMinCol = _this.widgets.find(w => w.id == widgetData.widId).minColumns,
                                widgetMaxCol = _this.widgets.find(w => w.id == widgetData.widId).maxColumns,
                                newSize = widgetData.columns + _this.convertToColumns(this.x);

                            this.applyBounds('body')
                            _this.draggedWidgets.forEach(d => d.enable()); //ENABLE WIDGET'S DRAGGING AGAIN
                            TweenLite.set(this.target, {x: 0, y: 0}) //RETURN "RESIZE" ICON TO IT'S PLACE
                            $(this.target).parents('.widget').removeClass('widget--isResizing');

                            if (newSize >= widgetMinCol && newSize <= widgetMaxCol) {
                                widgetData.columns = newSize //UPDATE WIDGET'S POSITION
                                _this.positionWidgets(); //REPOSITION WIDGETS TO UPDATE THE DOM
                                _this.defineFreeSpaces(this, 'reserveBoxes');
                            } //THE HAPPY CASE
                            else if (newSize >= widgetMinCol)
                                noty({text: `Maximum columns is: ${widgetMaxCol}`, type: 'alert', timeout: 2000, killer: true}) //IT'S BIGGER THEN "maxColumns"
                            else if (newSize <= widgetMinCol)
                                noty({text: `Minimum columns is: ${widgetMinCol}`, type: 'alert', timeout: 2000, killer: true})  //IT'S SMALLER THEN "minColumns"
                        }
                    }
                });
                Draggable.create('.widget__resizeIcon--bottom', {
                    type: "y",
                    cursor: "row-resize",
                    onDragStart(){
                        _this.draggedWidgets.forEach(d => d.disable()); //DISABLE WIDGET'S DRAGGING TO PREVENT ANY CONFLECT BETWEEN IT AND THE RESIZING
                        $(this.target).parents('.widget').addClass('widget--isResizing');
                        this.applyBounds('.workspace__playgroundContent') //LOCK THE RESIZE ICON INSIDE THE PLAYGROUND
                    },
                    onDrag(e){
                        const _this = this,
                            widgetHolders = $(this.target).parents('.workspace__widgetHolder').siblings('.workspace__widgetHolder'),
                            overlapThreshold = 0;

                        for (let w of widgetHolders) {
                            if (this.hitTest(w, overlapThreshold))
                                w.classList.add('workspace__widgetHolder--highlight')
                            else
                                w.classList.remove('workspace__widgetHolder--highlight')
                        }
                    },
                    onDragEnd: function() {
                        this.applyBounds('body')
                        _this.draggedWidgets.forEach(d => d.enable()); //ENABLE WIDGET'S DRAGGING AGAIN
                        TweenLite.set(this.target, {x: 0, y: 0}) //RETURN "RESIZE" ICON TO IT'S PLACE
                        $(this.target).parents('.widget').removeClass('widget--isResizing');

                        //IT INTERSECT WITH OTHER WIDGET
                        if ($('.workspace__widgetHolder--highlight').length > 0) {
                            $('.workspace__widgetHolder--highlight').removeClass('workspace__widgetHolder--highlight')
                        } else {
                            const offsetRows = _this.convertToColumns(this.y),
                                workspaceID = $('.bottomBar__tab--active').attr('data-id'),
                                widgetID = $(this.target).parents('.workspace__widgetHolder').attr('data-id'),
                                widgetData = _this.userWorkspaces[workspaceID].widgets[widgetID],
                                widgetMinRow = _this.widgets.find(w => w.id == widgetData.widId).minRows,
                                widgetMaxRow = _this.rows,
                                newSize = widgetData.rows + _this.convertToRows(this.y);

                            this.applyBounds('body')
                            _this.draggedWidgets.forEach(d => d.enable()); //ENABLE WIDGET'S DRAGGING AGAIN
                            TweenLite.set(this.target, {x: 0, y: 0}) //RETURN "RESIZE" ICON TO IT'S PLACE
                            $(this.target).parents('.widget').removeClass('widget--isResizing');

                            if (newSize >= widgetMinRow && newSize <= widgetMaxRow) {
                                widgetData.rows = newSize //UPDATE WIDGET'S POSITION
                                _this.positionWidgets(); //REPOSITION WIDGETS TO UPDATE THE DOM
                                _this.defineFreeSpaces(this, 'reserveBoxes');
                            } //THE HAPPY CASE
                            else if (newSize >= widgetMinRow)
                                noty({text: `Maximum columns is: ${widgetMaxRow}`, type: 'alert', timeout: 2000, killer: true}) //IT'S BIGGER THEN "maxColumns"
                            else if (newSize <= widgetMinRow)
                                noty({text: `Minimum columns is: ${widgetMinRow}`, type: 'alert', timeout: 2000, killer: true})  //IT'S SMALLER THEN "minColumns"
                        }
                    }
                });
            },
            widgetRatio(minRows, minColumns){
                let playgroundWidth = $('.workspace__playgroundContent').width(),
                    playgroundHeight = $('.workspace__playgroundContent').height(),
                    widgets = [...document.querySelectorAll('.widgetsBar__drag')],
                    calculatedWidth, calculatedHeight,
                    _this = this;

                widgets.forEach(w => {
                    const widgetID = $(w).parents('.widgetsBar__link').attr('data-id');
                    //GIVE WIDGETS WIDTH AND HEIGHT
                    calculatedWidth = (_this.calculateColumns(_this.widgets[widgetID].minColumns) / 100) * playgroundWidth;
                    calculatedHeight = (_this.calculateRows(_this.widgets[widgetID].minRows) / 100) * playgroundHeight;
                    w.style.width = `${calculatedWidth - 5}px`;
                    w.style.height = `${calculatedHeight - 5}px`;
                })
            },//GIVE WIDGETS IN THE LEFT BAR MIN WIDTH AND HEIGHT
            dragWidgets(widget){
                const _this = this,
                    widgetHolders = document.querySelectorAll('.workspace__widgetHolder'),
                    gridlineBoxes = document.querySelectorAll('.workspace__column'),
                    overlapThreshold = 0;

                this.draggedWidgets = Draggable.create(widgetHolders, {
                    type: "x,y",
                    bounds: '.workspace__playgroundContent',
                    liveSnap: {
                        x: function(endValue) {
                            let workspace = this.target.parentNode,
                                widgetIndex = this.target.dataset.index,
                                columnWidth = workspace.clientWidth / _this.columns;

                            return Math.round(endValue / columnWidth) * columnWidth;
                        },
                        y: function(endValue) {
                            let workspace = this.target.parentNode,
                                widgetIndex = this.target.dataset.index,
                                columnHeight = workspace.clientHeight / _this.rows;

                            return Math.round(endValue / columnHeight) * columnHeight;
                        }
                    },
                    onDragStart(){
                        _this.defineFreeSpaces(this, 'draggedWidgets');
                    },
                    onDrag: function(e) {
                        for (let w of widgetHolders) {
                            if (this.hitTest(w, overlapThreshold))
                                w.classList.add('workspace__widgetHolder--highlight')
                            else
                                w.classList.remove('workspace__widgetHolder--highlight')
                        }
                    },
                    onDragEnd: function() {
                        //CHECK IF IT INTERECTS WITH OTHER WIDGETS
                        for (let w of widgetHolders) {
                            if (this.hitTest(w, overlapThreshold)) {
                                TweenLite.set(this.target, {x: this.startX, y: this.startY})
                                $(widgetHolders).removeClass('workspace__widgetHolder--highlight')
                                _this.defineFreeSpaces(this, 'reserveBoxes');
                                return;
                            }
                        }
                        //RESERVE GRIDLINE BOXES
                        const offsetRows = _this.convertToRows(this.y),
                            offsetColumns = _this.convertToColumns(this.x),
                            workspaceID = $('.bottomBar__tab--active').attr('data-id'),
                            widgetID = $(this.target).attr('data-id'),
                            widgetIndex = _this.userWorkspaces[workspaceID].widgets.findIndex(w => w.id == widgetID),
                            widgetData = _this.userWorkspaces[workspaceID].widgets[$(this.target).attr('data-id')];

                        TweenLite.set(this.target, {x: 0, y: 0})
                        widgetData.offsetRows += _this.convertToRows(this.y)
                        widgetData.offsetColumns += _this.convertToRows(this.x)
                        _this.positionWidgets();

                        _this.defineFreeSpaces(this, 'reserveBoxes');
                    }
                });
            },
            saveEvent(){
                this.$router.push('overview');
                //todo - CLEAN THE EMPTY PLACES IN THE ARRAY
            }, //SAVE EDITS ON WORKSPACE
            cancelEvent(){
                //TODO I SHOULD RETRIEVE THE LAST SAVED ARRAY FROM DB
//                this.initWorkspaces();
                this.$router.push('overview');
            }, //CANCEL EDITS ON WORKSPACE
            callDropdown(e){
                this.$parent.callDropdown(e)
            },
            callDropdownRow(e){
                this.$parent.callDropdownRow(e)
            }, //CALL ROPDOWN ON TABLE ROW
            callNested(e){
                const targetElement = $(e.currentTarget).data('target');
                $(e.currentTarget).find(`[data-dropdown=${targetElement}]`).removeClass('hide_display');
            },
            hideNested(e){
                const targetElement = $(e.currentTarget).data('target');
                $(e.currentTarget).find(`[data-dropdown=${targetElement}]`).addClass('hide_display');
            },
            renameTab(type, e){
                if (type == 'start') {
                    $(e.currentTarget).parents('.bottomBar__tab').find('.bottomBar__tabName')
                                      .attr('contentEditable', 'true').addClass('bottomBar__tabName--editable').focus()
                }
                else {
                    $(e.currentTarget)
                        .attr('contentEditable', 'false').removeClass('bottomBar__tabName--editable')
                }
            },
            deleteTab(e){
                const workspaceID = $(e.currentTarget).parents('.bottomBar__tab').attr('data-id');
                Vue.delete(this.userWorkspaces, this.userWorkspaces.findIndex(w => w.id == workspaceID));
                this.selectFlag = this.userWorkspaces.length - 1; //SELECT LAST TAB
            },
            calculateColumns(columns){
                return columns * (100 / this.columns) //PERCENTAGE FROM THE TOTAL COLUMNS

            }, //TURN COLUMNS TO PERCENTAGE
            calculateRows(rows){
                return rows * (100 / this.rows) //PERCENTAGE FROM THE TOTAL ROWS
            }, //TURN ROWS TO PERCENTAGE
            convertToRows(height){
                const playgroundHeight = $('.workspace__playgroundContent').height();
                return Math.round((height / playgroundHeight) * this.rows)
            }, //CONVERT RELATIVE VALUES TO ROWS
            convertToColumns(width){
                const playgroundWidth = $('.workspace__playgroundContent').width();
                return Math.round((width / playgroundWidth) * this.columns)
            } //CONVERT RELATIVE VALUES TO COLUMNS
        },
        beforeMount(){
            this.initWorkspaces();
        },
        mounted(){
            this.initPlugins();
            this.defineFreeSpaces(this.draggedWidgets);
            this.widgetRatio();
        },
        updated(){
            this.initPlugins();
            this.defineFreeSpaces(this.draggedWidgets);
        }
    }
</script>
<!--
- WHAT I NEED IN ANY DRAGGABLE CONTROL -
* DRAG/DROP - Done
* LOCK IN CONTAINER - Done
* GET FREE SPACES IN THE GRID - Done
* ADD NEW ITEM IN ONE OF THE FREE SPACES - Done
* Add multiple widgets from the same type - Done
* todo RESIZE
================================================
- Save edits
 ------------
- you should save x,y positions as well because Draggable plugin use them
- after initdrag, tween widgets to their (x,y) places (just once)
todo - When drag end, calculate (x,y) to (offsetRows, offsetColumns) and update the widget values
todo - when clicking save, update all widget's values (x,y) on the array and set it by tween
-->